#s-215caf7b-cc6a-4b61-8d69-42d054886ba7 #s-BgDegradePurple {
  -pie-background: linear-gradient(to bottom,#2F2F55,#5461B8);
  -pie-poll: false;
  -ms-transform: rotate(0.0deg);
}
#s-215caf7b-cc6a-4b61-8d69-42d054886ba7 #s-America_2 {
  -ms-transform: rotate(0.0deg);
}
#s-215caf7b-cc6a-4b61-8d69-42d054886ba7 #s-Europe_2 {
  -ms-transform: rotate(0.0deg);
}
#s-215caf7b-cc6a-4b61-8d69-42d054886ba7 #s-PASSENGERS {
  -ms-transform: rotate(0.0deg);
}
#s-215caf7b-cc6a-4b61-8d69-42d054886ba7 #s-previousicon_1 {
  -ms-transform: rotate(0.0deg);
}
#s-215caf7b-cc6a-4b61-8d69-42d054886ba7 #s-Panel_1 > .valign {
  vertical-align: top;
}
#s-215caf7b-cc6a-4b61-8d69-42d054886ba7 #s-Rectangle_1 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #D9D9D9;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #D9D9D9;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #D9D9D9;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #D9D9D9;
  border-radius: 8px 8px 8px 8px;
  -ms-transform: rotate(0.0deg);
}
#s-215caf7b-cc6a-4b61-8d69-42d054886ba7 #s-Surname_1 {
  -ms-transform: rotate(0.0deg);
}
#s-215caf7b-cc6a-4b61-8d69-42d054886ba7 #s-Name_1 {
  -ms-transform: rotate(0.0deg);
}
#s-215caf7b-cc6a-4b61-8d69-42d054886ba7 #s-Mrs {
  -ms-transform: rotate(0.0deg);
}
#s-215caf7b-cc6a-4b61-8d69-42d054886ba7 #s-Mr {
  -ms-transform: rotate(0.0deg);
}
#s-215caf7b-cc6a-4b61-8d69-42d054886ba7 #s-ADULT_1 {
  -ms-transform: rotate(0.0deg);
}
#s-215caf7b-cc6a-4b61-8d69-42d054886ba7 #s-Line_1 {
  stroke-width: 1px;
  stroke: #D9D9D9;
  -ms-transform: rotate(0.0deg);
}
#s-215caf7b-cc6a-4b61-8d69-42d054886ba7 #s-Line_1 {
  stroke-width: 1px;
  stroke: #D9D9D9;
  -ms-transform: rotate(0.0deg);
}
#s-215caf7b-cc6a-4b61-8d69-42d054886ba7 #s-Line_5 {
  stroke-width: 1px;
  stroke: #D9D9D9;
  -ms-transform: rotate(0.0deg);
}
#s-215caf7b-cc6a-4b61-8d69-42d054886ba7 #s-Line_5 {
  stroke-width: 1px;
  stroke: #D9D9D9;
  -ms-transform: rotate(0.0deg);
}
#s-215caf7b-cc6a-4b61-8d69-42d054886ba7 #s-Image_2 {
  -ms-transform: rotate(0.0deg);
}
#s-215caf7b-cc6a-4b61-8d69-42d054886ba7 #s-Image_4 {
  -ms-transform: rotate(0.0deg);
}
#s-215caf7b-cc6a-4b61-8d69-42d054886ba7 #s-Image_3 {
  -ms-transform: rotate(0.0deg);
}
#s-215caf7b-cc6a-4b61-8d69-42d054886ba7 #s-Image_5 {
  -ms-transform: rotate(0.0deg);
}
#s-215caf7b-cc6a-4b61-8d69-42d054886ba7 #s-Rectangle_2 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #D9D9D9;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #D9D9D9;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #D9D9D9;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #D9D9D9;
  border-radius: 8px 8px 8px 8px;
  -ms-transform: rotate(0.0deg);
}
#s-215caf7b-cc6a-4b61-8d69-42d054886ba7 #s-Surname_2 {
  -ms-transform: rotate(0.0deg);
}
#s-215caf7b-cc6a-4b61-8d69-42d054886ba7 #s-Name_2 {
  -ms-transform: rotate(0.0deg);
}
#s-215caf7b-cc6a-4b61-8d69-42d054886ba7 #s-Mrs_1 {
  -ms-transform: rotate(0.0deg);
}
#s-215caf7b-cc6a-4b61-8d69-42d054886ba7 #s-Mr_1 {
  -ms-transform: rotate(0.0deg);
}
#s-215caf7b-cc6a-4b61-8d69-42d054886ba7 #s-ADULT_2 {
  -ms-transform: rotate(0.0deg);
}
#s-215caf7b-cc6a-4b61-8d69-42d054886ba7 #s-Line_2 {
  stroke-width: 1px;
  stroke: #D9D9D9;
  -ms-transform: rotate(0.0deg);
}
#s-215caf7b-cc6a-4b61-8d69-42d054886ba7 #s-Line_2 {
  stroke-width: 1px;
  stroke: #D9D9D9;
  -ms-transform: rotate(0.0deg);
}
#s-215caf7b-cc6a-4b61-8d69-42d054886ba7 #s-Line_6 {
  stroke-width: 1px;
  stroke: #D9D9D9;
  -ms-transform: rotate(0.0deg);
}
#s-215caf7b-cc6a-4b61-8d69-42d054886ba7 #s-Line_6 {
  stroke-width: 1px;
  stroke: #D9D9D9;
  -ms-transform: rotate(0.0deg);
}
#s-215caf7b-cc6a-4b61-8d69-42d054886ba7 #s-Image_6 {
  -ms-transform: rotate(0.0deg);
}
#s-215caf7b-cc6a-4b61-8d69-42d054886ba7 #s-Image_7 {
  -ms-transform: rotate(0.0deg);
}
#s-215caf7b-cc6a-4b61-8d69-42d054886ba7 #s-Image_8 {
  -ms-transform: rotate(0.0deg);
}
#s-215caf7b-cc6a-4b61-8d69-42d054886ba7 #s-Image_9 {
  -ms-transform: rotate(0.0deg);
}
#s-215caf7b-cc6a-4b61-8d69-42d054886ba7 #s-Rectangle_3 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #D9D9D9;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #D9D9D9;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #D9D9D9;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #D9D9D9;
  border-radius: 8px 8px 8px 8px;
  -ms-transform: rotate(0.0deg);
}
#s-215caf7b-cc6a-4b61-8d69-42d054886ba7 #s-Surname_3 {
  -ms-transform: rotate(0.0deg);
}
#s-215caf7b-cc6a-4b61-8d69-42d054886ba7 #s-Name_3 {
  -ms-transform: rotate(0.0deg);
}
#s-215caf7b-cc6a-4b61-8d69-42d054886ba7 #s-Mrs_2 {
  -ms-transform: rotate(0.0deg);
}
#s-215caf7b-cc6a-4b61-8d69-42d054886ba7 #s-Mr_2 {
  -ms-transform: rotate(0.0deg);
}
#s-215caf7b-cc6a-4b61-8d69-42d054886ba7 #s-ADULT_3 {
  -ms-transform: rotate(0.0deg);
}
#s-215caf7b-cc6a-4b61-8d69-42d054886ba7 #s-Line_3 {
  stroke-width: 1px;
  stroke: #D9D9D9;
  -ms-transform: rotate(0.0deg);
}
#s-215caf7b-cc6a-4b61-8d69-42d054886ba7 #s-Line_3 {
  stroke-width: 1px;
  stroke: #D9D9D9;
  -ms-transform: rotate(0.0deg);
}
#s-215caf7b-cc6a-4b61-8d69-42d054886ba7 #s-Line_7 {
  stroke-width: 1px;
  stroke: #D9D9D9;
  -ms-transform: rotate(0.0deg);
}
#s-215caf7b-cc6a-4b61-8d69-42d054886ba7 #s-Line_7 {
  stroke-width: 1px;
  stroke: #D9D9D9;
  -ms-transform: rotate(0.0deg);
}
#s-215caf7b-cc6a-4b61-8d69-42d054886ba7 #s-Image_10 {
  -ms-transform: rotate(0.0deg);
}
#s-215caf7b-cc6a-4b61-8d69-42d054886ba7 #s-Image_11 {
  -ms-transform: rotate(0.0deg);
}
#s-215caf7b-cc6a-4b61-8d69-42d054886ba7 #s-Image_12 {
  -ms-transform: rotate(0.0deg);
}
#s-215caf7b-cc6a-4b61-8d69-42d054886ba7 #s-Image_13 {
  -ms-transform: rotate(0.0deg);
}
#s-215caf7b-cc6a-4b61-8d69-42d054886ba7 #s-Rectangle_4 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #D9D9D9;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #D9D9D9;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #D9D9D9;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #D9D9D9;
  border-radius: 8px 8px 8px 8px;
  -ms-transform: rotate(0.0deg);
}
#s-215caf7b-cc6a-4b61-8d69-42d054886ba7 #s-Surname_4 {
  -ms-transform: rotate(0.0deg);
}
#s-215caf7b-cc6a-4b61-8d69-42d054886ba7 #s-Name_4 {
  -ms-transform: rotate(0.0deg);
}
#s-215caf7b-cc6a-4b61-8d69-42d054886ba7 #s-Mrs_3 {
  -ms-transform: rotate(0.0deg);
}
#s-215caf7b-cc6a-4b61-8d69-42d054886ba7 #s-Mr_3 {
  -ms-transform: rotate(0.0deg);
}
#s-215caf7b-cc6a-4b61-8d69-42d054886ba7 #s-ADULT_4 {
  -ms-transform: rotate(0.0deg);
}
#s-215caf7b-cc6a-4b61-8d69-42d054886ba7 #s-Line_4 {
  stroke-width: 1px;
  stroke: #D9D9D9;
  -ms-transform: rotate(0.0deg);
}
#s-215caf7b-cc6a-4b61-8d69-42d054886ba7 #s-Line_4 {
  stroke-width: 1px;
  stroke: #D9D9D9;
  -ms-transform: rotate(0.0deg);
}
#s-215caf7b-cc6a-4b61-8d69-42d054886ba7 #s-Line_8 {
  stroke-width: 1px;
  stroke: #D9D9D9;
  -ms-transform: rotate(0.0deg);
}
#s-215caf7b-cc6a-4b61-8d69-42d054886ba7 #s-Line_8 {
  stroke-width: 1px;
  stroke: #D9D9D9;
  -ms-transform: rotate(0.0deg);
}
#s-215caf7b-cc6a-4b61-8d69-42d054886ba7 #s-Image_14 {
  -ms-transform: rotate(0.0deg);
}
#s-215caf7b-cc6a-4b61-8d69-42d054886ba7 #s-Image_15 {
  -ms-transform: rotate(0.0deg);
}
#s-215caf7b-cc6a-4b61-8d69-42d054886ba7 #s-Image_16 {
  -ms-transform: rotate(0.0deg);
}
#s-215caf7b-cc6a-4b61-8d69-42d054886ba7 #s-Image_17 {
  -ms-transform: rotate(0.0deg);
}
#s-215caf7b-cc6a-4b61-8d69-42d054886ba7 #s-Rectangle_5 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #D9D9D9;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #D9D9D9;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #D9D9D9;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #D9D9D9;
  border-radius: 8px 8px 8px 8px;
  -ms-transform: rotate(0.0deg);
}
#s-215caf7b-cc6a-4b61-8d69-42d054886ba7 #s-Surname_5 {
  -ms-transform: rotate(0.0deg);
}
#s-215caf7b-cc6a-4b61-8d69-42d054886ba7 #s-Name_5 {
  -ms-transform: rotate(0.0deg);
}
#s-215caf7b-cc6a-4b61-8d69-42d054886ba7 #s-Mrs_4 {
  -ms-transform: rotate(0.0deg);
}
#s-215caf7b-cc6a-4b61-8d69-42d054886ba7 #s-Mr_4 {
  -ms-transform: rotate(0.0deg);
}
#s-215caf7b-cc6a-4b61-8d69-42d054886ba7 #s-ADULT_5 {
  -ms-transform: rotate(0.0deg);
}
#s-215caf7b-cc6a-4b61-8d69-42d054886ba7 #s-Line_9 {
  stroke-width: 1px;
  stroke: #D9D9D9;
  -ms-transform: rotate(0.0deg);
}
#s-215caf7b-cc6a-4b61-8d69-42d054886ba7 #s-Line_9 {
  stroke-width: 1px;
  stroke: #D9D9D9;
  -ms-transform: rotate(0.0deg);
}
#s-215caf7b-cc6a-4b61-8d69-42d054886ba7 #s-Line_10 {
  stroke-width: 1px;
  stroke: #D9D9D9;
  -ms-transform: rotate(0.0deg);
}
#s-215caf7b-cc6a-4b61-8d69-42d054886ba7 #s-Line_10 {
  stroke-width: 1px;
  stroke: #D9D9D9;
  -ms-transform: rotate(0.0deg);
}
#s-215caf7b-cc6a-4b61-8d69-42d054886ba7 #s-Image_18 {
  -ms-transform: rotate(0.0deg);
}
#s-215caf7b-cc6a-4b61-8d69-42d054886ba7 #s-Image_19 {
  -ms-transform: rotate(0.0deg);
}
#s-215caf7b-cc6a-4b61-8d69-42d054886ba7 #s-Image_20 {
  -ms-transform: rotate(0.0deg);
}
#s-215caf7b-cc6a-4b61-8d69-42d054886ba7 #s-Image_21 {
  -ms-transform: rotate(0.0deg);
}
#s-215caf7b-cc6a-4b61-8d69-42d054886ba7 #s-Rectangle_6 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #D9D9D9;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #D9D9D9;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #D9D9D9;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #D9D9D9;
  border-radius: 7px 7px 7px 7px;
  -ms-transform: rotate(0.0deg);
}
#s-215caf7b-cc6a-4b61-8d69-42d054886ba7 #s-Surname_6 {
  -ms-transform: rotate(0.0deg);
}
#s-215caf7b-cc6a-4b61-8d69-42d054886ba7 #s-Name_6 {
  -ms-transform: rotate(0.0deg);
}
#s-215caf7b-cc6a-4b61-8d69-42d054886ba7 #s-ADULT_6 {
  -ms-transform: rotate(0.0deg);
}
#s-215caf7b-cc6a-4b61-8d69-42d054886ba7 #s-Line_11 {
  stroke-width: 1px;
  stroke: #D9D9D9;
  -ms-transform: rotate(0.0deg);
}
#s-215caf7b-cc6a-4b61-8d69-42d054886ba7 #s-Line_11 {
  stroke-width: 1px;
  stroke: #D9D9D9;
  -ms-transform: rotate(0.0deg);
}
#s-215caf7b-cc6a-4b61-8d69-42d054886ba7 #s-Line_12 {
  stroke-width: 1px;
  stroke: #D9D9D9;
  -ms-transform: rotate(0.0deg);
}
#s-215caf7b-cc6a-4b61-8d69-42d054886ba7 #s-Line_12 {
  stroke-width: 1px;
  stroke: #D9D9D9;
  -ms-transform: rotate(0.0deg);
}
#s-215caf7b-cc6a-4b61-8d69-42d054886ba7 #s-Rectangle_7 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #D9D9D9;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #D9D9D9;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #D9D9D9;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #D9D9D9;
  border-radius: 7px 7px 7px 7px;
  -ms-transform: rotate(0.0deg);
}
#s-215caf7b-cc6a-4b61-8d69-42d054886ba7 #s-Surname_7 {
  -ms-transform: rotate(0.0deg);
}
#s-215caf7b-cc6a-4b61-8d69-42d054886ba7 #s-Name_7 {
  -ms-transform: rotate(0.0deg);
}
#s-215caf7b-cc6a-4b61-8d69-42d054886ba7 #s-ADULT_7 {
  -ms-transform: rotate(0.0deg);
}
#s-215caf7b-cc6a-4b61-8d69-42d054886ba7 #s-Line_13 {
  stroke-width: 1px;
  stroke: #D9D9D9;
  -ms-transform: rotate(0.0deg);
}
#s-215caf7b-cc6a-4b61-8d69-42d054886ba7 #s-Line_13 {
  stroke-width: 1px;
  stroke: #D9D9D9;
  -ms-transform: rotate(0.0deg);
}
#s-215caf7b-cc6a-4b61-8d69-42d054886ba7 #s-Line_14 {
  stroke-width: 1px;
  stroke: #D9D9D9;
  -ms-transform: rotate(0.0deg);
}
#s-215caf7b-cc6a-4b61-8d69-42d054886ba7 #s-Line_14 {
  stroke-width: 1px;
  stroke: #D9D9D9;
  -ms-transform: rotate(0.0deg);
}
#s-215caf7b-cc6a-4b61-8d69-42d054886ba7 #s-Rectangle_8 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #D9D9D9;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #D9D9D9;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #D9D9D9;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #D9D9D9;
  border-radius: 7px 7px 7px 7px;
  -ms-transform: rotate(0.0deg);
}
#s-215caf7b-cc6a-4b61-8d69-42d054886ba7 #s-Surname_8 {
  -ms-transform: rotate(0.0deg);
}
#s-215caf7b-cc6a-4b61-8d69-42d054886ba7 #s-Name_8 {
  -ms-transform: rotate(0.0deg);
}
#s-215caf7b-cc6a-4b61-8d69-42d054886ba7 #s-ADULT_8 {
  -ms-transform: rotate(0.0deg);
}
#s-215caf7b-cc6a-4b61-8d69-42d054886ba7 #s-Line_15 {
  stroke-width: 1px;
  stroke: #D9D9D9;
  -ms-transform: rotate(0.0deg);
}
#s-215caf7b-cc6a-4b61-8d69-42d054886ba7 #s-Line_15 {
  stroke-width: 1px;
  stroke: #D9D9D9;
  -ms-transform: rotate(0.0deg);
}
#s-215caf7b-cc6a-4b61-8d69-42d054886ba7 #s-Line_16 {
  stroke-width: 1px;
  stroke: #D9D9D9;
  -ms-transform: rotate(0.0deg);
}
#s-215caf7b-cc6a-4b61-8d69-42d054886ba7 #s-Line_16 {
  stroke-width: 1px;
  stroke: #D9D9D9;
  -ms-transform: rotate(0.0deg);
}
#s-215caf7b-cc6a-4b61-8d69-42d054886ba7 #s-Rectangle_9 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #D9D9D9;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #D9D9D9;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #D9D9D9;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #D9D9D9;
  border-radius: 7px 7px 7px 7px;
  -ms-transform: rotate(0.0deg);
}
#s-215caf7b-cc6a-4b61-8d69-42d054886ba7 #s-Surname_9 {
  -ms-transform: rotate(0.0deg);
}
#s-215caf7b-cc6a-4b61-8d69-42d054886ba7 #s-Name_9 {
  -ms-transform: rotate(0.0deg);
}
#s-215caf7b-cc6a-4b61-8d69-42d054886ba7 #s-ADULT_9 {
  -ms-transform: rotate(0.0deg);
}
#s-215caf7b-cc6a-4b61-8d69-42d054886ba7 #s-Line_17 {
  stroke-width: 1px;
  stroke: #D9D9D9;
  -ms-transform: rotate(0.0deg);
}
#s-215caf7b-cc6a-4b61-8d69-42d054886ba7 #s-Line_17 {
  stroke-width: 1px;
  stroke: #D9D9D9;
  -ms-transform: rotate(0.0deg);
}
#s-215caf7b-cc6a-4b61-8d69-42d054886ba7 #s-Line_18 {
  stroke-width: 1px;
  stroke: #D9D9D9;
  -ms-transform: rotate(0.0deg);
}
#s-215caf7b-cc6a-4b61-8d69-42d054886ba7 #s-Line_18 {
  stroke-width: 1px;
  stroke: #D9D9D9;
  -ms-transform: rotate(0.0deg);
}
#s-215caf7b-cc6a-4b61-8d69-42d054886ba7 #s-Rectangle_10 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #D9D9D9;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #D9D9D9;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #D9D9D9;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #D9D9D9;
  border-radius: 7px 7px 7px 7px;
  -ms-transform: rotate(0.0deg);
}
#s-215caf7b-cc6a-4b61-8d69-42d054886ba7 #s-Surname_10 {
  -ms-transform: rotate(0.0deg);
}
#s-215caf7b-cc6a-4b61-8d69-42d054886ba7 #s-Name_10 {
  -ms-transform: rotate(0.0deg);
}
#s-215caf7b-cc6a-4b61-8d69-42d054886ba7 #s-ADULT_10 {
  -ms-transform: rotate(0.0deg);
}
#s-215caf7b-cc6a-4b61-8d69-42d054886ba7 #s-Line_19 {
  stroke-width: 1px;
  stroke: #D9D9D9;
  -ms-transform: rotate(0.0deg);
}
#s-215caf7b-cc6a-4b61-8d69-42d054886ba7 #s-Line_19 {
  stroke-width: 1px;
  stroke: #D9D9D9;
  -ms-transform: rotate(0.0deg);
}
#s-215caf7b-cc6a-4b61-8d69-42d054886ba7 #s-Line_20 {
  stroke-width: 1px;
  stroke: #D9D9D9;
  -ms-transform: rotate(0.0deg);
}
#s-215caf7b-cc6a-4b61-8d69-42d054886ba7 #s-Line_20 {
  stroke-width: 1px;
  stroke: #D9D9D9;
  -ms-transform: rotate(0.0deg);
}
#s-215caf7b-cc6a-4b61-8d69-42d054886ba7 #s-Rectangle_11 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #D9D9D9;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #D9D9D9;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #D9D9D9;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #D9D9D9;
  border-radius: 7px 7px 7px 7px;
  -ms-transform: rotate(0.0deg);
}
#s-215caf7b-cc6a-4b61-8d69-42d054886ba7 #s-Surname_11 {
  -ms-transform: rotate(0.0deg);
}
#s-215caf7b-cc6a-4b61-8d69-42d054886ba7 #s-Name_11 {
  -ms-transform: rotate(0.0deg);
}
#s-215caf7b-cc6a-4b61-8d69-42d054886ba7 #s-ADULT_11 {
  -ms-transform: rotate(0.0deg);
}
#s-215caf7b-cc6a-4b61-8d69-42d054886ba7 #s-Line_21 {
  stroke-width: 1px;
  stroke: #D9D9D9;
  -ms-transform: rotate(0.0deg);
}
#s-215caf7b-cc6a-4b61-8d69-42d054886ba7 #s-Line_21 {
  stroke-width: 1px;
  stroke: #D9D9D9;
  -ms-transform: rotate(0.0deg);
}
#s-215caf7b-cc6a-4b61-8d69-42d054886ba7 #s-Line_22 {
  stroke-width: 1px;
  stroke: #D9D9D9;
  -ms-transform: rotate(0.0deg);
}
#s-215caf7b-cc6a-4b61-8d69-42d054886ba7 #s-Line_22 {
  stroke-width: 1px;
  stroke: #D9D9D9;
  -ms-transform: rotate(0.0deg);
}
#s-215caf7b-cc6a-4b61-8d69-42d054886ba7 #s-Rectangle_12 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #D9D9D9;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #D9D9D9;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #D9D9D9;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #D9D9D9;
  border-radius: 7px 7px 7px 7px;
  -ms-transform: rotate(0.0deg);
}
#s-215caf7b-cc6a-4b61-8d69-42d054886ba7 #s-Surname_12 {
  -ms-transform: rotate(0.0deg);
}
#s-215caf7b-cc6a-4b61-8d69-42d054886ba7 #s-Name_12 {
  -ms-transform: rotate(0.0deg);
}
#s-215caf7b-cc6a-4b61-8d69-42d054886ba7 #s-ADULT_12 {
  -ms-transform: rotate(0.0deg);
}
#s-215caf7b-cc6a-4b61-8d69-42d054886ba7 #s-Line_23 {
  stroke-width: 1px;
  stroke: #D9D9D9;
  -ms-transform: rotate(0.0deg);
}
#s-215caf7b-cc6a-4b61-8d69-42d054886ba7 #s-Line_23 {
  stroke-width: 1px;
  stroke: #D9D9D9;
  -ms-transform: rotate(0.0deg);
}
#s-215caf7b-cc6a-4b61-8d69-42d054886ba7 #s-Line_24 {
  stroke-width: 1px;
  stroke: #D9D9D9;
  -ms-transform: rotate(0.0deg);
}
#s-215caf7b-cc6a-4b61-8d69-42d054886ba7 #s-Line_24 {
  stroke-width: 1px;
  stroke: #D9D9D9;
  -ms-transform: rotate(0.0deg);
}
#s-215caf7b-cc6a-4b61-8d69-42d054886ba7 #s-Rectangle_13 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #D9D9D9;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #D9D9D9;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #D9D9D9;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #D9D9D9;
  border-radius: 7px 7px 7px 7px;
  -ms-transform: rotate(0.0deg);
}
#s-215caf7b-cc6a-4b61-8d69-42d054886ba7 #s-Surname_13 {
  -ms-transform: rotate(0.0deg);
}
#s-215caf7b-cc6a-4b61-8d69-42d054886ba7 #s-Name_13 {
  -ms-transform: rotate(0.0deg);
}
#s-215caf7b-cc6a-4b61-8d69-42d054886ba7 #s-ADULT_13 {
  -ms-transform: rotate(0.0deg);
}
#s-215caf7b-cc6a-4b61-8d69-42d054886ba7 #s-Line_25 {
  stroke-width: 1px;
  stroke: #D9D9D9;
  -ms-transform: rotate(0.0deg);
}
#s-215caf7b-cc6a-4b61-8d69-42d054886ba7 #s-Line_25 {
  stroke-width: 1px;
  stroke: #D9D9D9;
  -ms-transform: rotate(0.0deg);
}
#s-215caf7b-cc6a-4b61-8d69-42d054886ba7 #s-Line_26 {
  stroke-width: 1px;
  stroke: #D9D9D9;
  -ms-transform: rotate(0.0deg);
}
#s-215caf7b-cc6a-4b61-8d69-42d054886ba7 #s-Line_26 {
  stroke-width: 1px;
  stroke: #D9D9D9;
  -ms-transform: rotate(0.0deg);
}
#s-215caf7b-cc6a-4b61-8d69-42d054886ba7 #s-Rectangle_14 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #D9D9D9;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #D9D9D9;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #D9D9D9;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #D9D9D9;
  border-radius: 7px 7px 7px 7px;
  -ms-transform: rotate(0.0deg);
}
#s-215caf7b-cc6a-4b61-8d69-42d054886ba7 #s-Surname_14 {
  -ms-transform: rotate(0.0deg);
}
#s-215caf7b-cc6a-4b61-8d69-42d054886ba7 #s-Name_14 {
  -ms-transform: rotate(0.0deg);
}
#s-215caf7b-cc6a-4b61-8d69-42d054886ba7 #s-ADULT_14 {
  -ms-transform: rotate(0.0deg);
}
#s-215caf7b-cc6a-4b61-8d69-42d054886ba7 #s-Line_27 {
  stroke-width: 1px;
  stroke: #D9D9D9;
  -ms-transform: rotate(0.0deg);
}
#s-215caf7b-cc6a-4b61-8d69-42d054886ba7 #s-Line_27 {
  stroke-width: 1px;
  stroke: #D9D9D9;
  -ms-transform: rotate(0.0deg);
}
#s-215caf7b-cc6a-4b61-8d69-42d054886ba7 #s-Line_28 {
  stroke-width: 1px;
  stroke: #D9D9D9;
  -ms-transform: rotate(0.0deg);
}
#s-215caf7b-cc6a-4b61-8d69-42d054886ba7 #s-Line_28 {
  stroke-width: 1px;
  stroke: #D9D9D9;
  -ms-transform: rotate(0.0deg);
}
#s-215caf7b-cc6a-4b61-8d69-42d054886ba7 #s-Rectangle_15 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #D9D9D9;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #D9D9D9;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #D9D9D9;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #D9D9D9;
  border-radius: 7px 7px 7px 7px;
  -ms-transform: rotate(0.0deg);
}
#s-215caf7b-cc6a-4b61-8d69-42d054886ba7 #s-Surname_15 {
  -ms-transform: rotate(0.0deg);
}
#s-215caf7b-cc6a-4b61-8d69-42d054886ba7 #s-Name_15 {
  -ms-transform: rotate(0.0deg);
}
#s-215caf7b-cc6a-4b61-8d69-42d054886ba7 #s-ADULT_15 {
  -ms-transform: rotate(0.0deg);
}
#s-215caf7b-cc6a-4b61-8d69-42d054886ba7 #s-Line_29 {
  stroke-width: 1px;
  stroke: #D9D9D9;
  -ms-transform: rotate(0.0deg);
}
#s-215caf7b-cc6a-4b61-8d69-42d054886ba7 #s-Line_29 {
  stroke-width: 1px;
  stroke: #D9D9D9;
  -ms-transform: rotate(0.0deg);
}
#s-215caf7b-cc6a-4b61-8d69-42d054886ba7 #s-Line_30 {
  stroke-width: 1px;
  stroke: #D9D9D9;
  -ms-transform: rotate(0.0deg);
}
#s-215caf7b-cc6a-4b61-8d69-42d054886ba7 #s-Line_30 {
  stroke-width: 1px;
  stroke: #D9D9D9;
  -ms-transform: rotate(0.0deg);
}
#s-215caf7b-cc6a-4b61-8d69-42d054886ba7 #s-Button-black_2 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #663D95;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #663D95;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #663D95;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #663D95;
  border-radius: 17px 17px 17px 17px;
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  height: 18px;
  width: 310px;
  -ms-transform: rotate(0.0deg);
}
#s-215caf7b-cc6a-4b61-8d69-42d054886ba7 #s-bgblur_1 {
  -ms-transform: rotate(0.0deg);
}
#s-215caf7b-cc6a-4b61-8d69-42d054886ba7 #s-Rectangle_16 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=91);
  filter: alpha(opacity=91);
  -ms-transform: rotate(0.0deg);
}
#s-215caf7b-cc6a-4b61-8d69-42d054886ba7 #s-Panel_2 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  border-radius: 9px 9px 9px 9px;
}
#s-215caf7b-cc6a-4b61-8d69-42d054886ba7 #s-Panel_2 > .valign {
  vertical-align: top;
}
#s-215caf7b-cc6a-4b61-8d69-42d054886ba7 #s-Please_correct {
  -ms-transform: rotate(0.0deg);
}
#s-215caf7b-cc6a-4b61-8d69-42d054886ba7 #s-WarningIcon_1 {
  -ms-transform: rotate(0.0deg);
}
#s-215caf7b-cc6a-4b61-8d69-42d054886ba7 #s-Line_32 {
  stroke-width: 1px;
  stroke: #D9D9D9;
  -ms-transform: rotate(0.0deg);
}
#s-215caf7b-cc6a-4b61-8d69-42d054886ba7 #s-Line_32 {
  stroke-width: 1px;
  stroke: #D9D9D9;
  -ms-transform: rotate(0.0deg);
}
#s-215caf7b-cc6a-4b61-8d69-42d054886ba7 #s-Button-OK {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #D9D9D9;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #D9D9D9;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #D9D9D9;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #D9D9D9;
  border-radius: 15px 15px 15px 15px;
  padding-top: 9px;
  padding-right: 9px;
  padding-bottom: 9px;
  padding-left: 9px;
  height: 15px;
  width: 116px;
  -ms-transform: rotate(0.0deg);
}
#s-215caf7b-cc6a-4b61-8d69-42d054886ba7 #s-MobileSignal_7 {
  -ms-transform: rotate(0.0deg);
}
#s-215caf7b-cc6a-4b61-8d69-42d054886ba7 #s-Carrier_7 {
  -ms-transform: rotate(0.0deg);
}
#s-215caf7b-cc6a-4b61-8d69-42d054886ba7 #s-WiFi_7 {
  -ms-transform: rotate(0.0deg);
}
#s-215caf7b-cc6a-4b61-8d69-42d054886ba7 #s-AM_7 {
  -ms-transform: rotate(0.0deg);
}
#s-215caf7b-cc6a-4b61-8d69-42d054886ba7 #s-Paragraph_10 {
  -ms-transform: rotate(0.0deg);
}
#s-215caf7b-cc6a-4b61-8d69-42d054886ba7 #s-Battery_7 {
  -ms-transform: rotate(0.0deg);
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-215caf7b-cc6a-4b61-8d69-42d054886ba7 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}