#s-2f6c2c25-5e42-45bd-b2c6-d254ad7d22be > #backgroundBox {
  background-color: transparent;
  background-image: none;
  position: absolute;
}
#s-2f6c2c25-5e42-45bd-b2c6-d254ad7d22be > #alignmentBox {
  position: relative;
  max-width: 375px;
  max-height: 667px;
  width: 100%;
  height: 100%;
}
#s-2f6c2c25-5e42-45bd-b2c6-d254ad7d22be #s-BgDegradePurple > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-repeat: repeat;
  background-position-x: left;
  background-position-y: top;
  background-attachment: scroll;
  background-size: auto;
  background-image: -moz-linear-gradient(top,#2F2F55,#5461B8);
  background-image: -webkit-linear-gradient(top,#2F2F55,#5461B8);
  background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#2F2F55), color-stop(100%,#5461B8));
  background-image: -o-linear-gradient(top,#2F2F55,#5461B8);
  background-image: linear-gradient(to bottom,#2F2F55,#5461B8);
  box-shadow: none;
}
#s-2f6c2c25-5e42-45bd-b2c6-d254ad7d22be #s-BgDegradePurple {
  position: absolute;
  width: 375px;
  height: 667px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-2f6c2c25-5e42-45bd-b2c6-d254ad7d22be #s-BgDegradePurple > .clipping, #s-2f6c2c25-5e42-45bd-b2c6-d254ad7d22be #s-BgDegradePurple > .paddingLayer {
  height: 667px;
  width: 375px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-2f6c2c25-5e42-45bd-b2c6-d254ad7d22be #s-BgDegradePurple .valign {
  vertical-align: middle;
  text-align: center;
}
#s-2f6c2c25-5e42-45bd-b2c6-d254ad7d22be #s-BgDegradePurple span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-2f6c2c25-5e42-45bd-b2c6-d254ad7d22be #s-BgDegradePurple span#rtr-s-BgDegradePurple_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-2f6c2c25-5e42-45bd-b2c6-d254ad7d22be #s-Image_2 {
  position: absolute;
  width: 370px;
  height: 402px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-2f6c2c25-5e42-45bd-b2c6-d254ad7d22be #s-Image_2 > img, #s-2f6c2c25-5e42-45bd-b2c6-d254ad7d22be #s-Image_2 > svg {
  height: 402px;
  width: 370px;
  box-shadow: none;
}
#s-2f6c2c25-5e42-45bd-b2c6-d254ad7d22be #s-statusbar_white_7 {
  position: absolute;
  width: 352px;
  height: 14px;
}
#s-2f6c2c25-5e42-45bd-b2c6-d254ad7d22be #s-MobileSignal_7 > svg {
}
#s-2f6c2c25-5e42-45bd-b2c6-d254ad7d22be #s-MobileSignal_7 {
  position: absolute;
  width: 34px;
  height: 6px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-2f6c2c25-5e42-45bd-b2c6-d254ad7d22be #s-MobileSignal_7 > img, #s-2f6c2c25-5e42-45bd-b2c6-d254ad7d22be #s-MobileSignal_7 > svg {
  height: 6px;
  width: 34px;
  box-shadow: none;
}
#s-2f6c2c25-5e42-45bd-b2c6-d254ad7d22be #s-Carrier_7 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-2f6c2c25-5e42-45bd-b2c6-d254ad7d22be #s-Carrier_7 {
  position: absolute;
  width: 39px;
  height: 14px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 9.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-2f6c2c25-5e42-45bd-b2c6-d254ad7d22be #s-Carrier_7 > .clipping, #s-2f6c2c25-5e42-45bd-b2c6-d254ad7d22be #s-Carrier_7 > .paddingLayer {
  height: 14px;
  width: 39px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-2f6c2c25-5e42-45bd-b2c6-d254ad7d22be #s-Carrier_7 .valign {
  vertical-align: top;
  text-align: left;
}
#s-2f6c2c25-5e42-45bd-b2c6-d254ad7d22be #s-Carrier_7 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 9.0pt;
}
#s-2f6c2c25-5e42-45bd-b2c6-d254ad7d22be #s-Carrier_7 span#rtr-s-Carrier_7_0 {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 9.0pt;
  line-height: 0px;
}
#s-2f6c2c25-5e42-45bd-b2c6-d254ad7d22be #s-WiFi_7 > svg {
}
#s-2f6c2c25-5e42-45bd-b2c6-d254ad7d22be #s-WiFi_7 {
  position: absolute;
  width: 14px;
  height: 10px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-2f6c2c25-5e42-45bd-b2c6-d254ad7d22be #s-WiFi_7 > img, #s-2f6c2c25-5e42-45bd-b2c6-d254ad7d22be #s-WiFi_7 > svg {
  height: 10px;
  width: 14px;
  box-shadow: none;
}
#s-2f6c2c25-5e42-45bd-b2c6-d254ad7d22be #s-AM_7 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-2f6c2c25-5e42-45bd-b2c6-d254ad7d22be #s-AM_7 {
  position: absolute;
  width: 46px;
  height: 14px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 9.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-2f6c2c25-5e42-45bd-b2c6-d254ad7d22be #s-AM_7 > .clipping, #s-2f6c2c25-5e42-45bd-b2c6-d254ad7d22be #s-AM_7 > .paddingLayer {
  height: 14px;
  width: 46px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-2f6c2c25-5e42-45bd-b2c6-d254ad7d22be #s-AM_7 .valign {
  vertical-align: top;
  text-align: center;
}
#s-2f6c2c25-5e42-45bd-b2c6-d254ad7d22be #s-AM_7 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 9.0pt;
}
#s-2f6c2c25-5e42-45bd-b2c6-d254ad7d22be #s-AM_7 span#rtr-s-AM_7_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 9.0pt;
  line-height: 0px;
}
#s-2f6c2c25-5e42-45bd-b2c6-d254ad7d22be #s-Paragraph_10 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-2f6c2c25-5e42-45bd-b2c6-d254ad7d22be #s-Paragraph_10 {
  position: absolute;
  width: 33px;
  height: 14px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 9.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-2f6c2c25-5e42-45bd-b2c6-d254ad7d22be #s-Paragraph_10 > .clipping, #s-2f6c2c25-5e42-45bd-b2c6-d254ad7d22be #s-Paragraph_10 > .paddingLayer {
  height: 14px;
  width: 33px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-2f6c2c25-5e42-45bd-b2c6-d254ad7d22be #s-Paragraph_10 .valign {
  vertical-align: top;
  text-align: right;
}
#s-2f6c2c25-5e42-45bd-b2c6-d254ad7d22be #s-Paragraph_10 span {
  color: #FFFFFF;
  text-align: right;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 9.0pt;
}
#s-2f6c2c25-5e42-45bd-b2c6-d254ad7d22be #s-Paragraph_10 span#rtr-s-Paragraph_10_0 {
  color: #FFFFFF;
  text-align: right;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 9.0pt;
  line-height: 0px;
}
#s-2f6c2c25-5e42-45bd-b2c6-d254ad7d22be #s-Battery_7 > svg {
}
#s-2f6c2c25-5e42-45bd-b2c6-d254ad7d22be #s-Battery_7 {
  position: absolute;
  width: 25px;
  height: 10px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-2f6c2c25-5e42-45bd-b2c6-d254ad7d22be #s-Battery_7 > img, #s-2f6c2c25-5e42-45bd-b2c6-d254ad7d22be #s-Battery_7 > svg {
  height: 10px;
  width: 25px;
  box-shadow: none;
}
#s-2f6c2c25-5e42-45bd-b2c6-d254ad7d22be #s-MobileSignal_8 > svg {
}
#s-2f6c2c25-5e42-45bd-b2c6-d254ad7d22be #s-MobileSignal_8 {
  position: absolute;
  width: 34px;
  height: 6px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-2f6c2c25-5e42-45bd-b2c6-d254ad7d22be #s-MobileSignal_8 > img, #s-2f6c2c25-5e42-45bd-b2c6-d254ad7d22be #s-MobileSignal_8 > svg {
  height: 6px;
  width: 34px;
  box-shadow: none;
}
#s-2f6c2c25-5e42-45bd-b2c6-d254ad7d22be #s-Carrier_8 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-2f6c2c25-5e42-45bd-b2c6-d254ad7d22be #s-Carrier_8 {
  position: absolute;
  width: 39px;
  height: 14px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 9.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-2f6c2c25-5e42-45bd-b2c6-d254ad7d22be #s-Carrier_8 > .clipping, #s-2f6c2c25-5e42-45bd-b2c6-d254ad7d22be #s-Carrier_8 > .paddingLayer {
  height: 14px;
  width: 39px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-2f6c2c25-5e42-45bd-b2c6-d254ad7d22be #s-Carrier_8 .valign {
  vertical-align: top;
  text-align: left;
}
#s-2f6c2c25-5e42-45bd-b2c6-d254ad7d22be #s-Carrier_8 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 9.0pt;
}
#s-2f6c2c25-5e42-45bd-b2c6-d254ad7d22be #s-Carrier_8 span#rtr-s-Carrier_8_0 {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 9.0pt;
  line-height: 0px;
}
#s-2f6c2c25-5e42-45bd-b2c6-d254ad7d22be #s-AM_8 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-2f6c2c25-5e42-45bd-b2c6-d254ad7d22be #s-AM_8 {
  position: absolute;
  width: 46px;
  height: 14px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 9.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-2f6c2c25-5e42-45bd-b2c6-d254ad7d22be #s-AM_8 > .clipping, #s-2f6c2c25-5e42-45bd-b2c6-d254ad7d22be #s-AM_8 > .paddingLayer {
  height: 14px;
  width: 46px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-2f6c2c25-5e42-45bd-b2c6-d254ad7d22be #s-AM_8 .valign {
  vertical-align: top;
  text-align: center;
}
#s-2f6c2c25-5e42-45bd-b2c6-d254ad7d22be #s-AM_8 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 9.0pt;
}
#s-2f6c2c25-5e42-45bd-b2c6-d254ad7d22be #s-AM_8 span#rtr-s-AM_8_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 9.0pt;
  line-height: 0px;
}
#s-2f6c2c25-5e42-45bd-b2c6-d254ad7d22be #s-Paragraph_11 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-2f6c2c25-5e42-45bd-b2c6-d254ad7d22be #s-Paragraph_11 {
  position: absolute;
  width: 33px;
  height: 14px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 9.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-2f6c2c25-5e42-45bd-b2c6-d254ad7d22be #s-Paragraph_11 > .clipping, #s-2f6c2c25-5e42-45bd-b2c6-d254ad7d22be #s-Paragraph_11 > .paddingLayer {
  height: 14px;
  width: 33px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-2f6c2c25-5e42-45bd-b2c6-d254ad7d22be #s-Paragraph_11 .valign {
  vertical-align: top;
  text-align: right;
}
#s-2f6c2c25-5e42-45bd-b2c6-d254ad7d22be #s-Paragraph_11 span {
  color: #FFFFFF;
  text-align: right;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 9.0pt;
}
#s-2f6c2c25-5e42-45bd-b2c6-d254ad7d22be #s-Paragraph_11 span#rtr-s-Paragraph_11_0 {
  color: #FFFFFF;
  text-align: right;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 9.0pt;
  line-height: 0px;
}
#s-2f6c2c25-5e42-45bd-b2c6-d254ad7d22be #s-Battery_8 > svg {
}
#s-2f6c2c25-5e42-45bd-b2c6-d254ad7d22be #s-Battery_8 {
  position: absolute;
  width: 25px;
  height: 10px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-2f6c2c25-5e42-45bd-b2c6-d254ad7d22be #s-Battery_8 > img, #s-2f6c2c25-5e42-45bd-b2c6-d254ad7d22be #s-Battery_8 > svg {
  height: 10px;
  width: 25px;
  box-shadow: none;
}
#s-2f6c2c25-5e42-45bd-b2c6-d254ad7d22be #s-SEARCHFLIGHTS > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-2f6c2c25-5e42-45bd-b2c6-d254ad7d22be #s-SEARCHFLIGHTS {
  position: absolute;
  width: 300px;
  height: 82px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 20.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-2f6c2c25-5e42-45bd-b2c6-d254ad7d22be #s-SEARCHFLIGHTS > .clipping, #s-2f6c2c25-5e42-45bd-b2c6-d254ad7d22be #s-SEARCHFLIGHTS > .paddingLayer {
  height: 82px;
  width: 300px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-2f6c2c25-5e42-45bd-b2c6-d254ad7d22be #s-SEARCHFLIGHTS .valign {
  vertical-align: top;
  text-align: center;
}
#s-2f6c2c25-5e42-45bd-b2c6-d254ad7d22be #s-SEARCHFLIGHTS span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 20.0pt;
}
#s-2f6c2c25-5e42-45bd-b2c6-d254ad7d22be #s-SEARCHFLIGHTS span#rtr-s-SEARCHFLIGHTS_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 20.0pt;
  line-height: 0px;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-2f6c2c25-5e42-45bd-b2c6-d254ad7d22be > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}