#s-378485f4-67ef-44d1-a1f4-42ba59a59083 #s-BgDegradePurple {
  -pie-background: linear-gradient(to bottom,#2F2F55,#5461B8);
  -pie-poll: false;
  -ms-transform: rotate(0.0deg);
}
#s-378485f4-67ef-44d1-a1f4-42ba59a59083 #s-MobileSignal_7 {
  -ms-transform: rotate(0.0deg);
}
#s-378485f4-67ef-44d1-a1f4-42ba59a59083 #s-Carrier_7 {
  -ms-transform: rotate(0.0deg);
}
#s-378485f4-67ef-44d1-a1f4-42ba59a59083 #s-WiFi_7 {
  -ms-transform: rotate(0.0deg);
}
#s-378485f4-67ef-44d1-a1f4-42ba59a59083 #s-AM_7 {
  -ms-transform: rotate(0.0deg);
}
#s-378485f4-67ef-44d1-a1f4-42ba59a59083 #s-Paragraph_10 {
  -ms-transform: rotate(0.0deg);
}
#s-378485f4-67ef-44d1-a1f4-42ba59a59083 #s-Battery_7 {
  -ms-transform: rotate(0.0deg);
}
#s-378485f4-67ef-44d1-a1f4-42ba59a59083 #s-MobileSignal_8 {
  -ms-transform: rotate(0.0deg);
}
#s-378485f4-67ef-44d1-a1f4-42ba59a59083 #s-Carrier_8 {
  -ms-transform: rotate(0.0deg);
}
#s-378485f4-67ef-44d1-a1f4-42ba59a59083 #s-AM_8 {
  -ms-transform: rotate(0.0deg);
}
#s-378485f4-67ef-44d1-a1f4-42ba59a59083 #s-Paragraph_11 {
  -ms-transform: rotate(0.0deg);
}
#s-378485f4-67ef-44d1-a1f4-42ba59a59083 #s-Battery_8 {
  -ms-transform: rotate(0.0deg);
}
#s-378485f4-67ef-44d1-a1f4-42ba59a59083 #s-Image_2 {
  -ms-transform: rotate(0.0deg);
}
#s-378485f4-67ef-44d1-a1f4-42ba59a59083 #s-Bg-Round_Trip {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  border-radius: 21px 21px 21px 21px;
  padding-top: 11px;
  padding-right: 11px;
  padding-bottom: 11px;
  padding-left: 11px;
  height: 20px;
  width: 177px;
  -ms-transform: rotate(0.0deg);
}
#s-378485f4-67ef-44d1-a1f4-42ba59a59083 #s-Round_trip_txt_1 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  border-radius: 12px 12px 12px 12px;
  padding-top: 6px;
  padding-right: 6px;
  padding-bottom: 6px;
  padding-left: 6px;
  height: calc(100% + -12px);
  width: calc(100% + -12px);
  -ms-transform: rotate(0.0deg);
}
#s-378485f4-67ef-44d1-a1f4-42ba59a59083 #s-Bg-Round_Trip_1 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  border-radius: 21px 21px 21px 21px;
  padding-top: 11px;
  padding-right: 11px;
  padding-bottom: 11px;
  padding-left: 11px;
  height: 20px;
  width: 177px;
  -ms-transform: rotate(0.0deg);
}
#s-378485f4-67ef-44d1-a1f4-42ba59a59083 #s-Round_trip_txt_2 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  border-radius: 12px 12px 12px 12px;
  padding-top: 6px;
  padding-right: 6px;
  padding-bottom: 6px;
  padding-left: 6px;
  height: calc(100% + -12px);
  width: calc(100% + -12px);
  -ms-transform: rotate(0.0deg);
}
#s-378485f4-67ef-44d1-a1f4-42ba59a59083 #s-Bg-Round_Trip_2 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  border-radius: 21px 21px 21px 21px;
  padding-top: 11px;
  padding-right: 11px;
  padding-bottom: 11px;
  padding-left: 11px;
  height: 20px;
  width: 177px;
  -ms-transform: rotate(0.0deg);
}
#s-378485f4-67ef-44d1-a1f4-42ba59a59083 #s-Round_trip_txt_3 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  border-radius: 12px 12px 12px 12px;
  padding-top: 6px;
  padding-right: 6px;
  padding-bottom: 6px;
  padding-left: 6px;
  height: calc(100% + -12px);
  width: calc(100% + -12px);
  -ms-transform: rotate(0.0deg);
}
#s-378485f4-67ef-44d1-a1f4-42ba59a59083 #s-Image_1 {
  -ms-transform: rotate(345.0deg);
}
#s-378485f4-67ef-44d1-a1f4-42ba59a59083 #s-Image_3 {
  -ms-transform: rotate(0.0deg);
}
#s-378485f4-67ef-44d1-a1f4-42ba59a59083 #s-Image_4 {
  -ms-transform: rotate(5.0deg);
}
#s-378485f4-67ef-44d1-a1f4-42ba59a59083 #s-Image_5 {
  -ms-transform: rotate(338.0deg);
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-378485f4-67ef-44d1-a1f4-42ba59a59083 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}