#s-3cbd1ff4-470d-4141-b890-56bb69c681c4 #s-BgDegradePurple {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3cbd1ff4-470d-4141-b890-56bb69c681c4 #s-America_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3cbd1ff4-470d-4141-b890-56bb69c681c4 #s-Europe_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3cbd1ff4-470d-4141-b890-56bb69c681c4 #s-Rectangle_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3cbd1ff4-470d-4141-b890-56bb69c681c4 #s-DEPARTUREFLIGHT_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3cbd1ff4-470d-4141-b890-56bb69c681c4 #s-previousicon_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3cbd1ff4-470d-4141-b890-56bb69c681c4 #s-planeicon_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3cbd1ff4-470d-4141-b890-56bb69c681c4 #s-Barcelona_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3cbd1ff4-470d-4141-b890-56bb69c681c4 #s-BCN_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3cbd1ff4-470d-4141-b890-56bb69c681c4 #s-SanFrancisco_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3cbd1ff4-470d-4141-b890-56bb69c681c4 #s-SFO_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3cbd1ff4-470d-4141-b890-56bb69c681c4 #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3cbd1ff4-470d-4141-b890-56bb69c681c4 #s-MonthLabel {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3cbd1ff4-470d-4141-b890-56bb69c681c4 #s-Text_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3cbd1ff4-470d-4141-b890-56bb69c681c4 #s-DayLabel {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3cbd1ff4-470d-4141-b890-56bb69c681c4 #s-Text_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3cbd1ff4-470d-4141-b890-56bb69c681c4 #s-YearLabel {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3cbd1ff4-470d-4141-b890-56bb69c681c4 #s-Paragraph_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3cbd1ff4-470d-4141-b890-56bb69c681c4 #s-Paragraph_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3cbd1ff4-470d-4141-b890-56bb69c681c4 #s-Paragraph_3 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=40) ;
  filter: alpha(opacity=40) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3cbd1ff4-470d-4141-b890-56bb69c681c4 #s-Paragraph_4 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=40) ;
  filter: alpha(opacity=40) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3cbd1ff4-470d-4141-b890-56bb69c681c4 #s-Paragraph_17 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=40) ;
  filter: alpha(opacity=40) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3cbd1ff4-470d-4141-b890-56bb69c681c4 #s-Paragraph_18 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=40) ;
  filter: alpha(opacity=40) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3cbd1ff4-470d-4141-b890-56bb69c681c4 #s-Paragraph_19 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=40) ;
  filter: alpha(opacity=40) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3cbd1ff4-470d-4141-b890-56bb69c681c4 #s-Paragraph_20 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=40) ;
  filter: alpha(opacity=40) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3cbd1ff4-470d-4141-b890-56bb69c681c4 #s-Paragraph_21 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=40) ;
  filter: alpha(opacity=40) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3cbd1ff4-470d-4141-b890-56bb69c681c4 #s-Paragraph_22 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=40) ;
  filter: alpha(opacity=40) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3cbd1ff4-470d-4141-b890-56bb69c681c4 #s-Spacer_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3cbd1ff4-470d-4141-b890-56bb69c681c4 #s-Paragraph_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3cbd1ff4-470d-4141-b890-56bb69c681c4 #s-Paragraph_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3cbd1ff4-470d-4141-b890-56bb69c681c4 #s-Paragraph_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3cbd1ff4-470d-4141-b890-56bb69c681c4 #s-h_30min_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3cbd1ff4-470d-4141-b890-56bb69c681c4 #s-GL_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3cbd1ff4-470d-4141-b890-56bb69c681c4 #s-SanFrancisco_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3cbd1ff4-470d-4141-b890-56bb69c681c4 #s-Barcelona_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3cbd1ff4-470d-4141-b890-56bb69c681c4 #s-Line_1 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3cbd1ff4-470d-4141-b890-56bb69c681c4 #s-Line_2 {
  rotation: 90.0;
  margin-left: 17px;
  margin-top: -18px;
}
#s-3cbd1ff4-470d-4141-b890-56bb69c681c4 #s-Image_12 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3cbd1ff4-470d-4141-b890-56bb69c681c4 #s-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3cbd1ff4-470d-4141-b890-56bb69c681c4 #s-Paragraph_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3cbd1ff4-470d-4141-b890-56bb69c681c4 #s-Paragraph_23 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3cbd1ff4-470d-4141-b890-56bb69c681c4 #s-Paragraph_12 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3cbd1ff4-470d-4141-b890-56bb69c681c4 #s-h_30min_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3cbd1ff4-470d-4141-b890-56bb69c681c4 #s-GL_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3cbd1ff4-470d-4141-b890-56bb69c681c4 #s-SanFrancisco_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3cbd1ff4-470d-4141-b890-56bb69c681c4 #s-Barcelona_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3cbd1ff4-470d-4141-b890-56bb69c681c4 #s-Line_3 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3cbd1ff4-470d-4141-b890-56bb69c681c4 #s-Line_4 {
  rotation: 90.0;
  margin-left: 17px;
  margin-top: -18px;
}
#s-3cbd1ff4-470d-4141-b890-56bb69c681c4 #s-Image_13 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3cbd1ff4-470d-4141-b890-56bb69c681c4 #s-Rectangle_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3cbd1ff4-470d-4141-b890-56bb69c681c4 #s-Paragraph_13 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3cbd1ff4-470d-4141-b890-56bb69c681c4 #s-Paragraph_24 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3cbd1ff4-470d-4141-b890-56bb69c681c4 #s-Paragraph_14 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3cbd1ff4-470d-4141-b890-56bb69c681c4 #s-h_30min_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3cbd1ff4-470d-4141-b890-56bb69c681c4 #s-GL_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3cbd1ff4-470d-4141-b890-56bb69c681c4 #s-SanFrancisco_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3cbd1ff4-470d-4141-b890-56bb69c681c4 #s-Barcelona_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3cbd1ff4-470d-4141-b890-56bb69c681c4 #s-Line_5 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3cbd1ff4-470d-4141-b890-56bb69c681c4 #s-Line_6 {
  rotation: 90.0;
  margin-left: 17px;
  margin-top: -18px;
}
#s-3cbd1ff4-470d-4141-b890-56bb69c681c4 #s-Image_14 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3cbd1ff4-470d-4141-b890-56bb69c681c4 #s-Rectangle_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3cbd1ff4-470d-4141-b890-56bb69c681c4 #s-Paragraph_15 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3cbd1ff4-470d-4141-b890-56bb69c681c4 #s-Paragraph_25 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3cbd1ff4-470d-4141-b890-56bb69c681c4 #s-Paragraph_16 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3cbd1ff4-470d-4141-b890-56bb69c681c4 #s-h_30min_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3cbd1ff4-470d-4141-b890-56bb69c681c4 #s-GL_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3cbd1ff4-470d-4141-b890-56bb69c681c4 #s-SanFrancisco_12 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3cbd1ff4-470d-4141-b890-56bb69c681c4 #s-Barcelona_12 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3cbd1ff4-470d-4141-b890-56bb69c681c4 #s-Line_7 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3cbd1ff4-470d-4141-b890-56bb69c681c4 #s-Line_8 {
  rotation: 90.0;
  margin-left: 17px;
  margin-top: -18px;
}
#s-3cbd1ff4-470d-4141-b890-56bb69c681c4 #s-Image_15 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3cbd1ff4-470d-4141-b890-56bb69c681c4 #s-Rectangle_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3cbd1ff4-470d-4141-b890-56bb69c681c4 #s-Spacer {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3cbd1ff4-470d-4141-b890-56bb69c681c4 #s-Spacer_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3cbd1ff4-470d-4141-b890-56bb69c681c4 #s-Paragraph_116 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3cbd1ff4-470d-4141-b890-56bb69c681c4 #s-Paragraph_224 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3cbd1ff4-470d-4141-b890-56bb69c681c4 #s-Paragraph_117 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3cbd1ff4-470d-4141-b890-56bb69c681c4 #s-Paragraph_118 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3cbd1ff4-470d-4141-b890-56bb69c681c4 #s-Paragraph_119 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3cbd1ff4-470d-4141-b890-56bb69c681c4 #s-Paragraph_120 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3cbd1ff4-470d-4141-b890-56bb69c681c4 #s-Paragraph_121 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3cbd1ff4-470d-4141-b890-56bb69c681c4 #s-Line_41 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3cbd1ff4-470d-4141-b890-56bb69c681c4 #s-Line_42 {
  rotation: 90.0;
  margin-left: 17px;
  margin-top: -18px;
}
#s-3cbd1ff4-470d-4141-b890-56bb69c681c4 #s-Image_21 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3cbd1ff4-470d-4141-b890-56bb69c681c4 #s-Rectangle_22 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3cbd1ff4-470d-4141-b890-56bb69c681c4 #s-Paragraph_122 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3cbd1ff4-470d-4141-b890-56bb69c681c4 #s-Paragraph_225 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3cbd1ff4-470d-4141-b890-56bb69c681c4 #s-Paragraph_123 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3cbd1ff4-470d-4141-b890-56bb69c681c4 #s-Paragraph_124 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3cbd1ff4-470d-4141-b890-56bb69c681c4 #s-Paragraph_125 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3cbd1ff4-470d-4141-b890-56bb69c681c4 #s-Paragraph_126 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3cbd1ff4-470d-4141-b890-56bb69c681c4 #s-Paragraph_127 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3cbd1ff4-470d-4141-b890-56bb69c681c4 #s-Line_43 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3cbd1ff4-470d-4141-b890-56bb69c681c4 #s-Line_44 {
  rotation: 90.0;
  margin-left: 17px;
  margin-top: -18px;
}
#s-3cbd1ff4-470d-4141-b890-56bb69c681c4 #s-Image_22 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3cbd1ff4-470d-4141-b890-56bb69c681c4 #s-Rectangle_23 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3cbd1ff4-470d-4141-b890-56bb69c681c4 #s-Paragraph_128 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3cbd1ff4-470d-4141-b890-56bb69c681c4 #s-Paragraph_226 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3cbd1ff4-470d-4141-b890-56bb69c681c4 #s-Paragraph_129 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3cbd1ff4-470d-4141-b890-56bb69c681c4 #s-Paragraph_130 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3cbd1ff4-470d-4141-b890-56bb69c681c4 #s-Paragraph_131 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3cbd1ff4-470d-4141-b890-56bb69c681c4 #s-Paragraph_132 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3cbd1ff4-470d-4141-b890-56bb69c681c4 #s-Paragraph_133 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3cbd1ff4-470d-4141-b890-56bb69c681c4 #s-Line_45 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3cbd1ff4-470d-4141-b890-56bb69c681c4 #s-Line_46 {
  rotation: 90.0;
  margin-left: 17px;
  margin-top: -18px;
}
#s-3cbd1ff4-470d-4141-b890-56bb69c681c4 #s-Image_23 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3cbd1ff4-470d-4141-b890-56bb69c681c4 #s-Rectangle_24 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3cbd1ff4-470d-4141-b890-56bb69c681c4 #s-Paragraph_134 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3cbd1ff4-470d-4141-b890-56bb69c681c4 #s-Paragraph_227 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3cbd1ff4-470d-4141-b890-56bb69c681c4 #s-Paragraph_135 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3cbd1ff4-470d-4141-b890-56bb69c681c4 #s-Paragraph_136 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3cbd1ff4-470d-4141-b890-56bb69c681c4 #s-Paragraph_137 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3cbd1ff4-470d-4141-b890-56bb69c681c4 #s-Paragraph_138 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3cbd1ff4-470d-4141-b890-56bb69c681c4 #s-Paragraph_139 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3cbd1ff4-470d-4141-b890-56bb69c681c4 #s-Line_47 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3cbd1ff4-470d-4141-b890-56bb69c681c4 #s-Line_48 {
  rotation: 90.0;
  margin-left: 17px;
  margin-top: -18px;
}
#s-3cbd1ff4-470d-4141-b890-56bb69c681c4 #s-Image_24 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3cbd1ff4-470d-4141-b890-56bb69c681c4 #s-Rectangle_25 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3cbd1ff4-470d-4141-b890-56bb69c681c4 #s-Spacer_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3cbd1ff4-470d-4141-b890-56bb69c681c4 #s-Spacer_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3cbd1ff4-470d-4141-b890-56bb69c681c4 #s-Paragraph_140 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3cbd1ff4-470d-4141-b890-56bb69c681c4 #s-Paragraph_220 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3cbd1ff4-470d-4141-b890-56bb69c681c4 #s-Paragraph_141 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3cbd1ff4-470d-4141-b890-56bb69c681c4 #s-Paragraph_142 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3cbd1ff4-470d-4141-b890-56bb69c681c4 #s-Paragraph_143 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3cbd1ff4-470d-4141-b890-56bb69c681c4 #s-Paragraph_144 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3cbd1ff4-470d-4141-b890-56bb69c681c4 #s-Paragraph_145 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3cbd1ff4-470d-4141-b890-56bb69c681c4 #s-Line_49 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3cbd1ff4-470d-4141-b890-56bb69c681c4 #s-Line_50 {
  rotation: 90.0;
  margin-left: 17px;
  margin-top: -18px;
}
#s-3cbd1ff4-470d-4141-b890-56bb69c681c4 #s-Image_25 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3cbd1ff4-470d-4141-b890-56bb69c681c4 #s-Rectangle_26 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3cbd1ff4-470d-4141-b890-56bb69c681c4 #s-Paragraph_146 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3cbd1ff4-470d-4141-b890-56bb69c681c4 #s-Paragraph_221 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3cbd1ff4-470d-4141-b890-56bb69c681c4 #s-Paragraph_147 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3cbd1ff4-470d-4141-b890-56bb69c681c4 #s-Paragraph_148 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3cbd1ff4-470d-4141-b890-56bb69c681c4 #s-Paragraph_149 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3cbd1ff4-470d-4141-b890-56bb69c681c4 #s-Paragraph_150 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3cbd1ff4-470d-4141-b890-56bb69c681c4 #s-Paragraph_151 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3cbd1ff4-470d-4141-b890-56bb69c681c4 #s-Line_51 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3cbd1ff4-470d-4141-b890-56bb69c681c4 #s-Line_52 {
  rotation: 90.0;
  margin-left: 17px;
  margin-top: -18px;
}
#s-3cbd1ff4-470d-4141-b890-56bb69c681c4 #s-Image_26 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3cbd1ff4-470d-4141-b890-56bb69c681c4 #s-Rectangle_27 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3cbd1ff4-470d-4141-b890-56bb69c681c4 #s-Paragraph_152 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3cbd1ff4-470d-4141-b890-56bb69c681c4 #s-Paragraph_222 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3cbd1ff4-470d-4141-b890-56bb69c681c4 #s-Paragraph_153 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3cbd1ff4-470d-4141-b890-56bb69c681c4 #s-Paragraph_154 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3cbd1ff4-470d-4141-b890-56bb69c681c4 #s-Paragraph_155 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3cbd1ff4-470d-4141-b890-56bb69c681c4 #s-Paragraph_156 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3cbd1ff4-470d-4141-b890-56bb69c681c4 #s-Paragraph_157 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3cbd1ff4-470d-4141-b890-56bb69c681c4 #s-Line_53 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3cbd1ff4-470d-4141-b890-56bb69c681c4 #s-Line_54 {
  rotation: 90.0;
  margin-left: 17px;
  margin-top: -18px;
}
#s-3cbd1ff4-470d-4141-b890-56bb69c681c4 #s-Image_27 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3cbd1ff4-470d-4141-b890-56bb69c681c4 #s-Rectangle_28 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3cbd1ff4-470d-4141-b890-56bb69c681c4 #s-Paragraph_158 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3cbd1ff4-470d-4141-b890-56bb69c681c4 #s-Paragraph_223 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3cbd1ff4-470d-4141-b890-56bb69c681c4 #s-Paragraph_159 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3cbd1ff4-470d-4141-b890-56bb69c681c4 #s-Paragraph_160 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3cbd1ff4-470d-4141-b890-56bb69c681c4 #s-Paragraph_161 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3cbd1ff4-470d-4141-b890-56bb69c681c4 #s-Paragraph_162 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3cbd1ff4-470d-4141-b890-56bb69c681c4 #s-Paragraph_163 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3cbd1ff4-470d-4141-b890-56bb69c681c4 #s-Line_55 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3cbd1ff4-470d-4141-b890-56bb69c681c4 #s-Line_56 {
  rotation: 90.0;
  margin-left: 17px;
  margin-top: -18px;
}
#s-3cbd1ff4-470d-4141-b890-56bb69c681c4 #s-Image_28 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3cbd1ff4-470d-4141-b890-56bb69c681c4 #s-Rectangle_29 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3cbd1ff4-470d-4141-b890-56bb69c681c4 #s-Spacer_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3cbd1ff4-470d-4141-b890-56bb69c681c4 #s-Spacer_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3cbd1ff4-470d-4141-b890-56bb69c681c4 #s-Paragraph_164 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3cbd1ff4-470d-4141-b890-56bb69c681c4 #s-Paragraph_216 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3cbd1ff4-470d-4141-b890-56bb69c681c4 #s-Paragraph_165 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3cbd1ff4-470d-4141-b890-56bb69c681c4 #s-Paragraph_166 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3cbd1ff4-470d-4141-b890-56bb69c681c4 #s-Paragraph_167 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3cbd1ff4-470d-4141-b890-56bb69c681c4 #s-Paragraph_168 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3cbd1ff4-470d-4141-b890-56bb69c681c4 #s-Paragraph_169 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3cbd1ff4-470d-4141-b890-56bb69c681c4 #s-Line_57 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3cbd1ff4-470d-4141-b890-56bb69c681c4 #s-Line_58 {
  rotation: 90.0;
  margin-left: 17px;
  margin-top: -18px;
}
#s-3cbd1ff4-470d-4141-b890-56bb69c681c4 #s-Image_29 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3cbd1ff4-470d-4141-b890-56bb69c681c4 #s-Rectangle_30 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3cbd1ff4-470d-4141-b890-56bb69c681c4 #s-Paragraph_170 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3cbd1ff4-470d-4141-b890-56bb69c681c4 #s-Paragraph_217 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3cbd1ff4-470d-4141-b890-56bb69c681c4 #s-Paragraph_171 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3cbd1ff4-470d-4141-b890-56bb69c681c4 #s-Paragraph_172 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3cbd1ff4-470d-4141-b890-56bb69c681c4 #s-Paragraph_173 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3cbd1ff4-470d-4141-b890-56bb69c681c4 #s-Paragraph_174 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3cbd1ff4-470d-4141-b890-56bb69c681c4 #s-Paragraph_175 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3cbd1ff4-470d-4141-b890-56bb69c681c4 #s-Line_59 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3cbd1ff4-470d-4141-b890-56bb69c681c4 #s-Line_60 {
  rotation: 90.0;
  margin-left: 17px;
  margin-top: -18px;
}
#s-3cbd1ff4-470d-4141-b890-56bb69c681c4 #s-Image_30 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3cbd1ff4-470d-4141-b890-56bb69c681c4 #s-Rectangle_31 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3cbd1ff4-470d-4141-b890-56bb69c681c4 #s-Paragraph_176 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3cbd1ff4-470d-4141-b890-56bb69c681c4 #s-Paragraph_218 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3cbd1ff4-470d-4141-b890-56bb69c681c4 #s-Paragraph_177 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3cbd1ff4-470d-4141-b890-56bb69c681c4 #s-Paragraph_178 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3cbd1ff4-470d-4141-b890-56bb69c681c4 #s-Paragraph_179 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3cbd1ff4-470d-4141-b890-56bb69c681c4 #s-Paragraph_180 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3cbd1ff4-470d-4141-b890-56bb69c681c4 #s-Paragraph_181 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3cbd1ff4-470d-4141-b890-56bb69c681c4 #s-Line_61 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3cbd1ff4-470d-4141-b890-56bb69c681c4 #s-Line_62 {
  rotation: 90.0;
  margin-left: 17px;
  margin-top: -18px;
}
#s-3cbd1ff4-470d-4141-b890-56bb69c681c4 #s-Image_31 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3cbd1ff4-470d-4141-b890-56bb69c681c4 #s-Rectangle_32 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3cbd1ff4-470d-4141-b890-56bb69c681c4 #s-Paragraph_182 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3cbd1ff4-470d-4141-b890-56bb69c681c4 #s-Paragraph_219 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3cbd1ff4-470d-4141-b890-56bb69c681c4 #s-Paragraph_183 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3cbd1ff4-470d-4141-b890-56bb69c681c4 #s-Paragraph_184 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3cbd1ff4-470d-4141-b890-56bb69c681c4 #s-Paragraph_185 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3cbd1ff4-470d-4141-b890-56bb69c681c4 #s-Paragraph_186 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3cbd1ff4-470d-4141-b890-56bb69c681c4 #s-Paragraph_187 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3cbd1ff4-470d-4141-b890-56bb69c681c4 #s-Line_63 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3cbd1ff4-470d-4141-b890-56bb69c681c4 #s-Line_64 {
  rotation: 90.0;
  margin-left: 17px;
  margin-top: -18px;
}
#s-3cbd1ff4-470d-4141-b890-56bb69c681c4 #s-Image_32 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3cbd1ff4-470d-4141-b890-56bb69c681c4 #s-Rectangle_33 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3cbd1ff4-470d-4141-b890-56bb69c681c4 #s-Spacer_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3cbd1ff4-470d-4141-b890-56bb69c681c4 #s-Spacer_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3cbd1ff4-470d-4141-b890-56bb69c681c4 #s-Paragraph_188 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3cbd1ff4-470d-4141-b890-56bb69c681c4 #s-Paragraph_212 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3cbd1ff4-470d-4141-b890-56bb69c681c4 #s-Paragraph_189 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3cbd1ff4-470d-4141-b890-56bb69c681c4 #s-Paragraph_190 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3cbd1ff4-470d-4141-b890-56bb69c681c4 #s-Paragraph_191 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3cbd1ff4-470d-4141-b890-56bb69c681c4 #s-Paragraph_192 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3cbd1ff4-470d-4141-b890-56bb69c681c4 #s-Paragraph_193 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3cbd1ff4-470d-4141-b890-56bb69c681c4 #s-Line_65 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3cbd1ff4-470d-4141-b890-56bb69c681c4 #s-Line_66 {
  rotation: 90.0;
  margin-left: 17px;
  margin-top: -18px;
}
#s-3cbd1ff4-470d-4141-b890-56bb69c681c4 #s-Image_33 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3cbd1ff4-470d-4141-b890-56bb69c681c4 #s-Rectangle_34 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3cbd1ff4-470d-4141-b890-56bb69c681c4 #s-Paragraph_194 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3cbd1ff4-470d-4141-b890-56bb69c681c4 #s-Paragraph_213 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3cbd1ff4-470d-4141-b890-56bb69c681c4 #s-Paragraph_195 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3cbd1ff4-470d-4141-b890-56bb69c681c4 #s-Paragraph_196 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3cbd1ff4-470d-4141-b890-56bb69c681c4 #s-Paragraph_197 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3cbd1ff4-470d-4141-b890-56bb69c681c4 #s-Paragraph_198 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3cbd1ff4-470d-4141-b890-56bb69c681c4 #s-Paragraph_199 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3cbd1ff4-470d-4141-b890-56bb69c681c4 #s-Line_67 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3cbd1ff4-470d-4141-b890-56bb69c681c4 #s-Line_68 {
  rotation: 90.0;
  margin-left: 17px;
  margin-top: -18px;
}
#s-3cbd1ff4-470d-4141-b890-56bb69c681c4 #s-Image_34 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3cbd1ff4-470d-4141-b890-56bb69c681c4 #s-Rectangle_35 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3cbd1ff4-470d-4141-b890-56bb69c681c4 #s-Paragraph_200 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3cbd1ff4-470d-4141-b890-56bb69c681c4 #s-Paragraph_214 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3cbd1ff4-470d-4141-b890-56bb69c681c4 #s-Paragraph_201 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3cbd1ff4-470d-4141-b890-56bb69c681c4 #s-Paragraph_202 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3cbd1ff4-470d-4141-b890-56bb69c681c4 #s-Paragraph_203 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3cbd1ff4-470d-4141-b890-56bb69c681c4 #s-Paragraph_204 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3cbd1ff4-470d-4141-b890-56bb69c681c4 #s-Paragraph_205 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3cbd1ff4-470d-4141-b890-56bb69c681c4 #s-Line_69 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3cbd1ff4-470d-4141-b890-56bb69c681c4 #s-Line_70 {
  rotation: 90.0;
  margin-left: 17px;
  margin-top: -18px;
}
#s-3cbd1ff4-470d-4141-b890-56bb69c681c4 #s-Image_35 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3cbd1ff4-470d-4141-b890-56bb69c681c4 #s-Rectangle_36 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3cbd1ff4-470d-4141-b890-56bb69c681c4 #s-Paragraph_206 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3cbd1ff4-470d-4141-b890-56bb69c681c4 #s-Paragraph_215 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3cbd1ff4-470d-4141-b890-56bb69c681c4 #s-Paragraph_207 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3cbd1ff4-470d-4141-b890-56bb69c681c4 #s-Paragraph_208 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3cbd1ff4-470d-4141-b890-56bb69c681c4 #s-Paragraph_209 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3cbd1ff4-470d-4141-b890-56bb69c681c4 #s-Paragraph_210 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3cbd1ff4-470d-4141-b890-56bb69c681c4 #s-Paragraph_211 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3cbd1ff4-470d-4141-b890-56bb69c681c4 #s-Line_71 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3cbd1ff4-470d-4141-b890-56bb69c681c4 #s-Line_72 {
  rotation: 90.0;
  margin-left: 17px;
  margin-top: -18px;
}
#s-3cbd1ff4-470d-4141-b890-56bb69c681c4 #s-Image_36 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3cbd1ff4-470d-4141-b890-56bb69c681c4 #s-Rectangle_37 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3cbd1ff4-470d-4141-b890-56bb69c681c4 #s-Spacer_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-ead4920d-bc72-485d-9d8a-d7fd3fe9c9d6 #m-ead4920d-Bg_shadow {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-ead4920d-bc72-485d-9d8a-d7fd3fe9c9d6 #m-ead4920d-More_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-ead4920d-bc72-485d-9d8a-d7fd3fe9c9d6 #m-ead4920d-Fill_151 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-ead4920d-bc72-485d-9d8a-d7fd3fe9c9d6 #m-ead4920d-Fill_152 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-ead4920d-bc72-485d-9d8a-d7fd3fe9c9d6 #m-ead4920d-Fill_153 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-ead4920d-bc72-485d-9d8a-d7fd3fe9c9d6 #m-ead4920d-Checkin_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-ead4920d-bc72-485d-9d8a-d7fd3fe9c9d6 #m-ead4920d-Clip_13 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-ead4920d-bc72-485d-9d8a-d7fd3fe9c9d6 #m-ead4920d-Fill_154 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-ead4920d-bc72-485d-9d8a-d7fd3fe9c9d6 #m-ead4920d-Fill_155 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-ead4920d-bc72-485d-9d8a-d7fd3fe9c9d6 #m-ead4920d-Boardingpass_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-ead4920d-bc72-485d-9d8a-d7fd3fe9c9d6 #m-ead4920d-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-ead4920d-bc72-485d-9d8a-d7fd3fe9c9d6 #m-ead4920d-Search_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-ead4920d-bc72-485d-9d8a-d7fd3fe9c9d6 #m-ead4920d-planeicon_15 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3cbd1ff4-470d-4141-b890-56bb69c681c4 #s-MobileSignal_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3cbd1ff4-470d-4141-b890-56bb69c681c4 #s-Carrier_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3cbd1ff4-470d-4141-b890-56bb69c681c4 #s-WiFi_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3cbd1ff4-470d-4141-b890-56bb69c681c4 #s-AM_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3cbd1ff4-470d-4141-b890-56bb69c681c4 #s-Paragraph_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3cbd1ff4-470d-4141-b890-56bb69c681c4 #s-Battery_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-3cbd1ff4-470d-4141-b890-56bb69c681c4 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}