#s-d4cdd970-e385-4e95-94c0-e6c98594d1e9 #s-BgDegradePurple {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d4cdd970-e385-4e95-94c0-e6c98594d1e9 #s-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d4cdd970-e385-4e95-94c0-e6c98594d1e9 #s-BgDegradePurple_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d4cdd970-e385-4e95-94c0-e6c98594d1e9 #s-America_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d4cdd970-e385-4e95-94c0-e6c98594d1e9 #s-Europe_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d4cdd970-e385-4e95-94c0-e6c98594d1e9 #s-Return_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d4cdd970-e385-4e95-94c0-e6c98594d1e9 #s-Departure_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d4cdd970-e385-4e95-94c0-e6c98594d1e9 #s-Line_3 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d4cdd970-e385-4e95-94c0-e6c98594d1e9 #s-Line_4 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d4cdd970-e385-4e95-94c0-e6c98594d1e9 #s-DEPARTUREFLIGHT_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d4cdd970-e385-4e95-94c0-e6c98594d1e9 #s-previousicon_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d4cdd970-e385-4e95-94c0-e6c98594d1e9 #s-planeicon_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d4cdd970-e385-4e95-94c0-e6c98594d1e9 #s-Barcelona_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d4cdd970-e385-4e95-94c0-e6c98594d1e9 #s-BCN_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d4cdd970-e385-4e95-94c0-e6c98594d1e9 #s-SanFrancisco_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d4cdd970-e385-4e95-94c0-e6c98594d1e9 #s-Rectangle_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d4cdd970-e385-4e95-94c0-e6c98594d1e9 #s-SFO_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d4cdd970-e385-4e95-94c0-e6c98594d1e9 #s-MobileSignal_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d4cdd970-e385-4e95-94c0-e6c98594d1e9 #s-Carrier_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d4cdd970-e385-4e95-94c0-e6c98594d1e9 #s-WiFi_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d4cdd970-e385-4e95-94c0-e6c98594d1e9 #s-AM_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d4cdd970-e385-4e95-94c0-e6c98594d1e9 #s-Paragraph_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d4cdd970-e385-4e95-94c0-e6c98594d1e9 #s-Battery_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d4cdd970-e385-4e95-94c0-e6c98594d1e9 #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d4cdd970-e385-4e95-94c0-e6c98594d1e9 #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d4cdd970-e385-4e95-94c0-e6c98594d1e9 #s-Bg-Round_Trip {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d4cdd970-e385-4e95-94c0-e6c98594d1e9 #s-Round_trip_txt_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d4cdd970-e385-4e95-94c0-e6c98594d1e9 #s-opacity_1 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=20) ;
  filter: alpha(opacity=20) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d4cdd970-e385-4e95-94c0-e6c98594d1e9 #s-Rectangle_2 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=91) ;
  filter: alpha(opacity=91) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d4cdd970-e385-4e95-94c0-e6c98594d1e9 #s-Please_correct {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d4cdd970-e385-4e95-94c0-e6c98594d1e9 #s-WarningIcon_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d4cdd970-e385-4e95-94c0-e6c98594d1e9 #s-Line_32 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d4cdd970-e385-4e95-94c0-e6c98594d1e9 #s-Button-OK {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d4cdd970-e385-4e95-94c0-e6c98594d1e9 #s-Rectangle_3 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0) ;
  filter: alpha(opacity=0) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d4cdd970-e385-4e95-94c0-e6c98594d1e9 #s-Text_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-d4cdd970-e385-4e95-94c0-e6c98594d1e9 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}