#s-e39b167a-6827-498b-8062-bf89d74c1e48 > #backgroundBox {
  background-color: #FFFFFF;
  background-image: none;
  position: absolute;
}
#s-e39b167a-6827-498b-8062-bf89d74c1e48 > #alignmentBox {
  position: relative;
  max-width: 375px;
  max-height: 667px;
  width: 100%;
  height: 100%;
}
#s-e39b167a-6827-498b-8062-bf89d74c1e48 #s-Backgroud {
  position: absolute;
  width: 375px;
  height: 98px;
}
#s-e39b167a-6827-498b-8062-bf89d74c1e48 #s-BgDegradePurple > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-repeat: repeat;
  background-position-x: left;
  background-position-y: top;
  background-attachment: scroll;
  background-size: auto;
  background-image: -moz-linear-gradient(top,#2F2F55,#5461B8);
  background-image: -webkit-linear-gradient(top,#2F2F55,#5461B8);
  background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#2F2F55), color-stop(100%,#5461B8));
  background-image: -o-linear-gradient(top,#2F2F55,#5461B8);
  background-image: linear-gradient(to bottom,#2F2F55,#5461B8);
  box-shadow: none;
}
#s-e39b167a-6827-498b-8062-bf89d74c1e48 #s-BgDegradePurple {
  position: absolute;
  width: 375px;
  height: 98px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-e39b167a-6827-498b-8062-bf89d74c1e48 #s-BgDegradePurple > .clipping, #s-e39b167a-6827-498b-8062-bf89d74c1e48 #s-BgDegradePurple > .paddingLayer {
  height: 98px;
  width: 375px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-e39b167a-6827-498b-8062-bf89d74c1e48 #s-BgDegradePurple .valign {
  vertical-align: middle;
  text-align: center;
}
#s-e39b167a-6827-498b-8062-bf89d74c1e48 #s-BgDegradePurple span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-e39b167a-6827-498b-8062-bf89d74c1e48 #s-BgDegradePurple span#rtr-s-BgDegradePurple_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-e39b167a-6827-498b-8062-bf89d74c1e48 #s-America_3 {
  position: absolute;
  width: 206px;
  height: 57px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-e39b167a-6827-498b-8062-bf89d74c1e48 #s-America_3 > img, #s-e39b167a-6827-498b-8062-bf89d74c1e48 #s-America_3 > svg {
  height: 57px;
  width: 206px;
  box-shadow: none;
}
#s-e39b167a-6827-498b-8062-bf89d74c1e48 #s-Europe_3 {
  position: absolute;
  width: 177px;
  height: 45px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-e39b167a-6827-498b-8062-bf89d74c1e48 #s-Europe_3 > img, #s-e39b167a-6827-498b-8062-bf89d74c1e48 #s-Europe_3 > svg {
  height: 45px;
  width: 177px;
  box-shadow: none;
}
#s-e39b167a-6827-498b-8062-bf89d74c1e48 #s-BOARDINGPASSES_LIST > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-e39b167a-6827-498b-8062-bf89d74c1e48 #s-BOARDINGPASSES_LIST {
  position: absolute;
  width: 177px;
  height: 18px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 11.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-e39b167a-6827-498b-8062-bf89d74c1e48 #s-BOARDINGPASSES_LIST > .clipping, #s-e39b167a-6827-498b-8062-bf89d74c1e48 #s-BOARDINGPASSES_LIST > .paddingLayer {
  height: 18px;
  width: 177px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-e39b167a-6827-498b-8062-bf89d74c1e48 #s-BOARDINGPASSES_LIST .valign {
  vertical-align: top;
  text-align: center;
}
#s-e39b167a-6827-498b-8062-bf89d74c1e48 #s-BOARDINGPASSES_LIST span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 11.0pt;
}
#s-e39b167a-6827-498b-8062-bf89d74c1e48 #s-BOARDINGPASSES_LIST span#rtr-s-BOARDINGPASSES_LIST_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-e39b167a-6827-498b-8062-bf89d74c1e48 #s-Container {
  position: absolute;
}
#s-e39b167a-6827-498b-8062-bf89d74c1e48 #s-Panel_1 {
  width: 375px;
  height: 507px;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-e39b167a-6827-498b-8062-bf89d74c1e48 #s-Panel_1 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-e39b167a-6827-498b-8062-bf89d74c1e48 #s-Panel_1 td.layout {
  padding: 0px 0px 0px 0px;
}
#s-e39b167a-6827-498b-8062-bf89d74c1e48 #s-Panel_1 > .layoutWrapper {
  left: 0px;
  top: 0px;
  width: 375px;
  height: 507px;
  overflow-x: hidden;
  overflow-y: auto;
}
#s-e39b167a-6827-498b-8062-bf89d74c1e48 #s-Panel_1 .verticalalign {
  vertical-align: top;
}
#s-e39b167a-6827-498b-8062-bf89d74c1e48 #s-bpList {
  position: absolute;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-e39b167a-6827-498b-8062-bf89d74c1e48 #s-bpList > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-e39b167a-6827-498b-8062-bf89d74c1e48 #s-bpList > table {
  padding-left: 0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
}
#s-e39b167a-6827-498b-8062-bf89d74c1e48 #s-bpList .s-Grid_cell_1 .layout {
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-e39b167a-6827-498b-8062-bf89d74c1e48 #s-bpList .s-Grid_cell_1 td.layout {
  padding: 0px 0px 0px 0px;
}
#s-e39b167a-6827-498b-8062-bf89d74c1e48 #s-bpList .s-Grid_cell_1 .verticalalign {
  vertical-align: top;
}
#s-e39b167a-6827-498b-8062-bf89d74c1e48 #s-bpList .s-Grid_cell_1 {
  background-color: #FFFFFF;
  background-image: none;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  box-shadow: none;
}
#s-e39b167a-6827-498b-8062-bf89d74c1e48 #s-bpList .s-BP_1 {
  position: absolute;
  width: 547px;
  height: 99px;
}
#s-e39b167a-6827-498b-8062-bf89d74c1e48 #s-bpList .s-Text_1 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-e39b167a-6827-498b-8062-bf89d74c1e48 #s-bpList .s-Text_1 {
  position: absolute;
  width: auto;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 10.0pt;
  font-family: 'Roboto-Medium',Arial;
}
#s-e39b167a-6827-498b-8062-bf89d74c1e48 #s-bpList .s-Text_1 > .clipping, #s-e39b167a-6827-498b-8062-bf89d74c1e48 #s-bpList .s-Text_1 > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-e39b167a-6827-498b-8062-bf89d74c1e48 #s-bpList .s-Text_1 .valign {
  vertical-align: top;
  text-align: left;
}
#s-e39b167a-6827-498b-8062-bf89d74c1e48 #s-bpList .s-Text_1 span {
  color: #424242;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Medium',Arial;
  font-size: 10.0pt;
}
#s-e39b167a-6827-498b-8062-bf89d74c1e48 #s-bpList .s-Text_1 span#rtr-s-Text_1_0 {
  color: #424242;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Medium',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-e39b167a-6827-498b-8062-bf89d74c1e48 #s-bpList .s-Input_1 input::-webkit-input-placeholder {
  color: #B4B4B4;
}
#s-e39b167a-6827-498b-8062-bf89d74c1e48 #s-bpList .s-Input_1 input::-moz-placeholder {
  color: #B4B4B4;
}
#s-e39b167a-6827-498b-8062-bf89d74c1e48 #s-bpList .s-Input_1 input:-moz-placeholder {
  color: #B4B4B4;
}
#s-e39b167a-6827-498b-8062-bf89d74c1e48 #s-bpList .s-Input_1 input:-ms-input-placeholder {
  color: #B4B4B4;
}
#s-e39b167a-6827-498b-8062-bf89d74c1e48 #s-bpList .s-Input_1 {
  position: absolute;
  width: 110px;
  height: 20px;
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-e39b167a-6827-498b-8062-bf89d74c1e48 #s-bpList .s-Input_1 .valign {
  vertical-align: top;
}
#s-e39b167a-6827-498b-8062-bf89d74c1e48 #s-bpList .s-Input_1 input {
  color: #424242;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Medium',Arial;
  font-size: 10.0pt;
  text-shadow: none;
}
#s-e39b167a-6827-498b-8062-bf89d74c1e48 #s-bpList .s-Input_1 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-e39b167a-6827-498b-8062-bf89d74c1e48 #s-bpList .s-Input_1 > .paddingLayer {
  height: 20px;
  width: 110px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-e39b167a-6827-498b-8062-bf89d74c1e48 #s-bpList .s-Input_2 input::-webkit-input-placeholder {
  color: #B4B4B4;
}
#s-e39b167a-6827-498b-8062-bf89d74c1e48 #s-bpList .s-Input_2 input::-moz-placeholder {
  color: #B4B4B4;
}
#s-e39b167a-6827-498b-8062-bf89d74c1e48 #s-bpList .s-Input_2 input:-moz-placeholder {
  color: #B4B4B4;
}
#s-e39b167a-6827-498b-8062-bf89d74c1e48 #s-bpList .s-Input_2 input:-ms-input-placeholder {
  color: #B4B4B4;
}
#s-e39b167a-6827-498b-8062-bf89d74c1e48 #s-bpList .s-Input_2 {
  position: absolute;
  width: 51px;
  height: 29px;
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-e39b167a-6827-498b-8062-bf89d74c1e48 #s-bpList .s-Input_2 .valign {
  vertical-align: top;
}
#s-e39b167a-6827-498b-8062-bf89d74c1e48 #s-bpList .s-Input_2 input {
  color: #535353;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 15.0pt;
  text-shadow: none;
}
#s-e39b167a-6827-498b-8062-bf89d74c1e48 #s-bpList .s-Input_2 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-e39b167a-6827-498b-8062-bf89d74c1e48 #s-bpList .s-Input_2 > .paddingLayer {
  height: 29px;
  width: 51px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-e39b167a-6827-498b-8062-bf89d74c1e48 #s-bpList .s-Input_3 input::-webkit-input-placeholder {
  color: #B4B4B4;
}
#s-e39b167a-6827-498b-8062-bf89d74c1e48 #s-bpList .s-Input_3 input::-moz-placeholder {
  color: #B4B4B4;
}
#s-e39b167a-6827-498b-8062-bf89d74c1e48 #s-bpList .s-Input_3 input:-moz-placeholder {
  color: #B4B4B4;
}
#s-e39b167a-6827-498b-8062-bf89d74c1e48 #s-bpList .s-Input_3 input:-ms-input-placeholder {
  color: #B4B4B4;
}
#s-e39b167a-6827-498b-8062-bf89d74c1e48 #s-bpList .s-Input_3 {
  position: absolute;
  width: 51px;
  height: 29px;
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-e39b167a-6827-498b-8062-bf89d74c1e48 #s-bpList .s-Input_3 .valign {
  vertical-align: top;
}
#s-e39b167a-6827-498b-8062-bf89d74c1e48 #s-bpList .s-Input_3 input {
  color: #535353;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 15.0pt;
  text-shadow: none;
}
#s-e39b167a-6827-498b-8062-bf89d74c1e48 #s-bpList .s-Input_3 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-e39b167a-6827-498b-8062-bf89d74c1e48 #s-bpList .s-Input_3 > .paddingLayer {
  height: 29px;
  width: 51px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-e39b167a-6827-498b-8062-bf89d74c1e48 .shapewrapper-s-Line_2 marker {
  fill: #808080;
}
#s-e39b167a-6827-498b-8062-bf89d74c1e48 .shapewrapper-s-Line_2 {
  position: absolute;
  width: 6px;
  height: 1px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-e39b167a-6827-498b-8062-bf89d74c1e48 #s-bpList .s-Line_2 {
  width: 6px;
  height: 0px;
  padding-top: 1px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  stroke-width: 1px;
  stroke: #808080;
  box-shadow: none;
}
#s-e39b167a-6827-498b-8062-bf89d74c1e48 #s-bpList .s-Image_1 > svg {
}
#s-e39b167a-6827-498b-8062-bf89d74c1e48 #s-bpList .s-Image_1 {
  position: absolute;
  width: 36px;
  height: 22px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-e39b167a-6827-498b-8062-bf89d74c1e48 #s-bpList .s-Image_1 > img, #s-e39b167a-6827-498b-8062-bf89d74c1e48 #s-bpList .s-Image_1 > svg {
  height: 22px;
  width: 36px;
  box-shadow: none;
}
#s-e39b167a-6827-498b-8062-bf89d74c1e48 #s-bpList .s-Options {
  position: absolute;
  width: 197px;
  height: 99px;
}
#s-e39b167a-6827-498b-8062-bf89d74c1e48 #s-bpList .s-Group_5 {
  position: absolute;
  width: 37px;
  height: 6px;
}
#s-e39b167a-6827-498b-8062-bf89d74c1e48 #s-bpList .s-Image_6 > svg {
}
#s-e39b167a-6827-498b-8062-bf89d74c1e48 #s-bpList .s-Image_6 {
  position: absolute;
  width: 6px;
  height: 6px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-e39b167a-6827-498b-8062-bf89d74c1e48 #s-bpList .s-Image_6 > img, #s-e39b167a-6827-498b-8062-bf89d74c1e48 #s-bpList .s-Image_6 > svg {
  height: 6px;
  width: 6px;
  box-shadow: none;
}
#s-e39b167a-6827-498b-8062-bf89d74c1e48 #s-bpList .s-Image_7 > svg {
}
#s-e39b167a-6827-498b-8062-bf89d74c1e48 #s-bpList .s-Image_7 {
  position: absolute;
  width: 6px;
  height: 6px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-e39b167a-6827-498b-8062-bf89d74c1e48 #s-bpList .s-Image_7 > img, #s-e39b167a-6827-498b-8062-bf89d74c1e48 #s-bpList .s-Image_7 > svg {
  height: 6px;
  width: 6px;
  box-shadow: none;
}
#s-e39b167a-6827-498b-8062-bf89d74c1e48 #s-bpList .s-Image_8 > svg {
}
#s-e39b167a-6827-498b-8062-bf89d74c1e48 #s-bpList .s-Image_8 {
  position: absolute;
  width: 6px;
  height: 6px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-e39b167a-6827-498b-8062-bf89d74c1e48 #s-bpList .s-Image_8 > img, #s-e39b167a-6827-498b-8062-bf89d74c1e48 #s-bpList .s-Image_8 > svg {
  height: 6px;
  width: 6px;
  box-shadow: none;
}
#s-e39b167a-6827-498b-8062-bf89d74c1e48 #s-bpList .s-Rectangle_1 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + -1px);
  background-color: transparent;
  background-image: none;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #D9D9D9;
  box-shadow: none;
}
#s-e39b167a-6827-498b-8062-bf89d74c1e48 #s-bpList .s-Rectangle_1 {
  position: absolute;
  width: 99px;
  height: 99px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-e39b167a-6827-498b-8062-bf89d74c1e48 #s-bpList .s-Rectangle_1 > .clipping, #s-e39b167a-6827-498b-8062-bf89d74c1e48 #s-bpList .s-Rectangle_1 > .paddingLayer {
  height: 99px;
  width: 98px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 1px;
  padding-right: 0px;
}
#s-e39b167a-6827-498b-8062-bf89d74c1e48 #s-bpList .s-Rectangle_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-e39b167a-6827-498b-8062-bf89d74c1e48 #s-bpList .s-Rectangle_1 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-e39b167a-6827-498b-8062-bf89d74c1e48 #s-bpList .s-Rectangle_1 span#rtr-s-Rectangle_1_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-e39b167a-6827-498b-8062-bf89d74c1e48 #s-bpList .s-Bin > svg {
}
#s-e39b167a-6827-498b-8062-bf89d74c1e48 #s-bpList .s-Bin {
  position: absolute;
  width: 42px;
  height: 42px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-e39b167a-6827-498b-8062-bf89d74c1e48 #s-bpList .s-Bin > img, #s-e39b167a-6827-498b-8062-bf89d74c1e48 #s-bpList .s-Bin > svg {
  height: 42px;
  width: 42px;
  box-shadow: none;
}
#s-e39b167a-6827-498b-8062-bf89d74c1e48 #s-bpList .s-Rectangle_2 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + -1px);
  background-color: transparent;
  background-image: none;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #D9D9D9;
  box-shadow: none;
}
#s-e39b167a-6827-498b-8062-bf89d74c1e48 #s-bpList .s-Rectangle_2 {
  position: absolute;
  width: 99px;
  height: 99px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-e39b167a-6827-498b-8062-bf89d74c1e48 #s-bpList .s-Rectangle_2 > .clipping, #s-e39b167a-6827-498b-8062-bf89d74c1e48 #s-bpList .s-Rectangle_2 > .paddingLayer {
  height: 99px;
  width: 98px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 1px;
  padding-right: 0px;
}
#s-e39b167a-6827-498b-8062-bf89d74c1e48 #s-bpList .s-Rectangle_2 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-e39b167a-6827-498b-8062-bf89d74c1e48 #s-bpList .s-Rectangle_2 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-e39b167a-6827-498b-8062-bf89d74c1e48 #s-bpList .s-Rectangle_2 span#rtr-s-Rectangle_2_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-e39b167a-6827-498b-8062-bf89d74c1e48 #s-bottomMenu div.offset {
  position: absolute;
  top: 0px;
  left: 0px;
}
#s-e39b167a-6827-498b-8062-bf89d74c1e48 #s-bottomMenu {
  position: absolute;
  width: 375px;
  height: 73px;
  overflow: visible;
}
#s-e39b167a-6827-498b-8062-bf89d74c1e48 #s-OptionsMenu {
  position: absolute;
  width: 375px;
  height: 667px;
}
#s-e39b167a-6827-498b-8062-bf89d74c1e48 #s-Shadow > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: #FFFFFF;
  background-image: none;
  box-shadow: none;
}
#s-e39b167a-6827-498b-8062-bf89d74c1e48 #s-Shadow {
  position: absolute;
  width: 375px;
  height: 667px;
  opacity: 0.8;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-e39b167a-6827-498b-8062-bf89d74c1e48 #s-Shadow > .clipping, #s-e39b167a-6827-498b-8062-bf89d74c1e48 #s-Shadow > .paddingLayer {
  height: 667px;
  width: 375px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-e39b167a-6827-498b-8062-bf89d74c1e48 #s-Shadow .valign {
  vertical-align: middle;
  text-align: center;
}
#s-e39b167a-6827-498b-8062-bf89d74c1e48 #s-Shadow span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-e39b167a-6827-498b-8062-bf89d74c1e48 #s-Shadow span#rtr-s-Shadow_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-e39b167a-6827-498b-8062-bf89d74c1e48 #s-Rectangle_3 > .backgroundLayer {
  height: calc(100% + -2px);
  width: calc(100% + -2px);
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #D9D9D9;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #D9D9D9;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #D9D9D9;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #D9D9D9;
  border-radius: 8px 8px 8px 8px;
  box-shadow: 0px 0px 5px 0px #999999;
}
#s-e39b167a-6827-498b-8062-bf89d74c1e48 #s-Rectangle_3 {
  position: absolute;
  width: 343px;
  height: 59px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  line-height: 27px;
  font-size: 14.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-e39b167a-6827-498b-8062-bf89d74c1e48 #s-Rectangle_3 > .clipping, #s-e39b167a-6827-498b-8062-bf89d74c1e48 #s-Rectangle_3 > .paddingLayer {
  height: 57px;
  width: 341px;
  padding-top: 1px;
  padding-bottom: 1px;
  padding-left: 1px;
  padding-right: 1px;
}
#s-e39b167a-6827-498b-8062-bf89d74c1e48 #s-Rectangle_3 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-e39b167a-6827-498b-8062-bf89d74c1e48 #s-Rectangle_3 span {
  color: #7B54A6;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 14.0pt;
}
#s-e39b167a-6827-498b-8062-bf89d74c1e48 #s-Rectangle_3 span#rtr-s-Rectangle_3_0 {
  color: #7B54A6;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 14.0pt;
  line-height: 0px;
}
#s-e39b167a-6827-498b-8062-bf89d74c1e48 #s-Rectangle_7 > .backgroundLayer {
  height: calc(100% + -2px);
  width: calc(100% + -2px);
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #D9D9D9;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #D9D9D9;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #D9D9D9;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #D9D9D9;
  border-radius: 7px 7px 7px 7px;
  box-shadow: 0px 0px 5px 0px #999999;
}
#s-e39b167a-6827-498b-8062-bf89d74c1e48 #s-Rectangle_7 {
  position: absolute;
  width: 343px;
  height: 174px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  line-height: 27px;
  font-size: 14.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-e39b167a-6827-498b-8062-bf89d74c1e48 #s-Rectangle_7 > .clipping, #s-e39b167a-6827-498b-8062-bf89d74c1e48 #s-Rectangle_7 > .paddingLayer {
  height: 172px;
  width: 341px;
  padding-top: 1px;
  padding-bottom: 1px;
  padding-left: 1px;
  padding-right: 1px;
}
#s-e39b167a-6827-498b-8062-bf89d74c1e48 #s-Rectangle_7 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-e39b167a-6827-498b-8062-bf89d74c1e48 #s-Rectangle_7 span {
  color: #7B54A6;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 14.0pt;
}
#s-e39b167a-6827-498b-8062-bf89d74c1e48 #s-Rectangle_7 span#rtr-s-Rectangle_7_0 {
  color: #7B54A6;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 14.0pt;
  line-height: 0px;
}
#s-e39b167a-6827-498b-8062-bf89d74c1e48 #s-Rectangle_8 > .backgroundLayer {
  height: calc(100% + -1px);
  width: calc(100% + -2px);
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #D9D9D9;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #D9D9D9;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #D9D9D9;
  border-radius: 8px 8px 0px 0px;
  box-shadow: none;
}
#s-e39b167a-6827-498b-8062-bf89d74c1e48 #s-Rectangle_8 {
  position: absolute;
  width: 343px;
  height: 58px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  line-height: 27px;
  font-size: 14.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-e39b167a-6827-498b-8062-bf89d74c1e48 #s-Rectangle_8 > .clipping, #s-e39b167a-6827-498b-8062-bf89d74c1e48 #s-Rectangle_8 > .paddingLayer {
  height: 57px;
  width: 341px;
  padding-top: 1px;
  padding-bottom: 0px;
  padding-left: 1px;
  padding-right: 1px;
}
#s-e39b167a-6827-498b-8062-bf89d74c1e48 #s-Rectangle_8 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-e39b167a-6827-498b-8062-bf89d74c1e48 #s-Rectangle_8 span {
  color: #7B54A6;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 14.0pt;
}
#s-e39b167a-6827-498b-8062-bf89d74c1e48 #s-Rectangle_8 span#rtr-s-Rectangle_8_0 {
  color: #7B54A6;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 14.0pt;
  line-height: 0px;
}
#s-e39b167a-6827-498b-8062-bf89d74c1e48 #s-Rectangle_8 span#rtr-s-Rectangle_8_1 {
  color: #7B54A6;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 14.0pt;
  line-height: 0px;
}
#s-e39b167a-6827-498b-8062-bf89d74c1e48 #s-Rectangle_9 > .backgroundLayer {
  height: calc(100% + -2px);
  width: calc(100% + -2px);
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #D9D9D9;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #D9D9D9;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #D9D9D9;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #D9D9D9;
  box-shadow: none;
}
#s-e39b167a-6827-498b-8062-bf89d74c1e48 #s-Rectangle_9 {
  position: absolute;
  width: 343px;
  height: 59px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  line-height: 27px;
  font-size: 14.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-e39b167a-6827-498b-8062-bf89d74c1e48 #s-Rectangle_9 > .clipping, #s-e39b167a-6827-498b-8062-bf89d74c1e48 #s-Rectangle_9 > .paddingLayer {
  height: 57px;
  width: 341px;
  padding-top: 1px;
  padding-bottom: 1px;
  padding-left: 1px;
  padding-right: 1px;
}
#s-e39b167a-6827-498b-8062-bf89d74c1e48 #s-Rectangle_9 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-e39b167a-6827-498b-8062-bf89d74c1e48 #s-Rectangle_9 span {
  color: #7B54A6;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 14.0pt;
}
#s-e39b167a-6827-498b-8062-bf89d74c1e48 #s-Rectangle_9 span#rtr-s-Rectangle_9_0 {
  color: #7B54A6;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 14.0pt;
  line-height: 0px;
}
#s-e39b167a-6827-498b-8062-bf89d74c1e48 #s-Rectangle_10 > .backgroundLayer {
  height: calc(100% + -1px);
  width: calc(100% + -2px);
  background-color: #FFFFFF;
  background-image: none;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #D9D9D9;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #D9D9D9;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #D9D9D9;
  border-radius: 0px 0px 8px 8px;
  box-shadow: none;
}
#s-e39b167a-6827-498b-8062-bf89d74c1e48 #s-Rectangle_10 {
  position: absolute;
  width: 343px;
  height: 58px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  line-height: 27px;
  font-size: 14.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-e39b167a-6827-498b-8062-bf89d74c1e48 #s-Rectangle_10 > .clipping, #s-e39b167a-6827-498b-8062-bf89d74c1e48 #s-Rectangle_10 > .paddingLayer {
  height: 57px;
  width: 341px;
  padding-top: 0px;
  padding-bottom: 1px;
  padding-left: 1px;
  padding-right: 1px;
}
#s-e39b167a-6827-498b-8062-bf89d74c1e48 #s-Rectangle_10 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-e39b167a-6827-498b-8062-bf89d74c1e48 #s-Rectangle_10 span {
  color: #7B54A6;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 14.0pt;
}
#s-e39b167a-6827-498b-8062-bf89d74c1e48 #s-Rectangle_10 span#rtr-s-Rectangle_10_0 {
  color: #7B54A6;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 14.0pt;
  line-height: 0px;
}
#s-e39b167a-6827-498b-8062-bf89d74c1e48 #s-statusbar_white_7 {
  position: absolute;
  width: 352px;
  height: 14px;
}
#s-e39b167a-6827-498b-8062-bf89d74c1e48 #s-MobileSignal_7 > svg {
}
#s-e39b167a-6827-498b-8062-bf89d74c1e48 #s-MobileSignal_7 {
  position: absolute;
  width: 34px;
  height: 6px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-e39b167a-6827-498b-8062-bf89d74c1e48 #s-MobileSignal_7 > img, #s-e39b167a-6827-498b-8062-bf89d74c1e48 #s-MobileSignal_7 > svg {
  height: 6px;
  width: 34px;
  box-shadow: none;
}
#s-e39b167a-6827-498b-8062-bf89d74c1e48 #s-Carrier_7 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-e39b167a-6827-498b-8062-bf89d74c1e48 #s-Carrier_7 {
  position: absolute;
  width: 39px;
  height: 14px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 9.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-e39b167a-6827-498b-8062-bf89d74c1e48 #s-Carrier_7 > .clipping, #s-e39b167a-6827-498b-8062-bf89d74c1e48 #s-Carrier_7 > .paddingLayer {
  height: 14px;
  width: 39px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-e39b167a-6827-498b-8062-bf89d74c1e48 #s-Carrier_7 .valign {
  vertical-align: top;
  text-align: left;
}
#s-e39b167a-6827-498b-8062-bf89d74c1e48 #s-Carrier_7 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 9.0pt;
}
#s-e39b167a-6827-498b-8062-bf89d74c1e48 #s-Carrier_7 span#rtr-s-Carrier_7_0 {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 9.0pt;
  line-height: 0px;
}
#s-e39b167a-6827-498b-8062-bf89d74c1e48 #s-WiFi_7 > svg {
}
#s-e39b167a-6827-498b-8062-bf89d74c1e48 #s-WiFi_7 {
  position: absolute;
  width: 14px;
  height: 10px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-e39b167a-6827-498b-8062-bf89d74c1e48 #s-WiFi_7 > img, #s-e39b167a-6827-498b-8062-bf89d74c1e48 #s-WiFi_7 > svg {
  height: 10px;
  width: 14px;
  box-shadow: none;
}
#s-e39b167a-6827-498b-8062-bf89d74c1e48 #s-AM_7 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-e39b167a-6827-498b-8062-bf89d74c1e48 #s-AM_7 {
  position: absolute;
  width: 46px;
  height: 14px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 9.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-e39b167a-6827-498b-8062-bf89d74c1e48 #s-AM_7 > .clipping, #s-e39b167a-6827-498b-8062-bf89d74c1e48 #s-AM_7 > .paddingLayer {
  height: 14px;
  width: 46px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-e39b167a-6827-498b-8062-bf89d74c1e48 #s-AM_7 .valign {
  vertical-align: top;
  text-align: center;
}
#s-e39b167a-6827-498b-8062-bf89d74c1e48 #s-AM_7 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 9.0pt;
}
#s-e39b167a-6827-498b-8062-bf89d74c1e48 #s-AM_7 span#rtr-s-AM_7_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 9.0pt;
  line-height: 0px;
}
#s-e39b167a-6827-498b-8062-bf89d74c1e48 #s-Paragraph_10 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-e39b167a-6827-498b-8062-bf89d74c1e48 #s-Paragraph_10 {
  position: absolute;
  width: 33px;
  height: 14px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 9.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-e39b167a-6827-498b-8062-bf89d74c1e48 #s-Paragraph_10 > .clipping, #s-e39b167a-6827-498b-8062-bf89d74c1e48 #s-Paragraph_10 > .paddingLayer {
  height: 14px;
  width: 33px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-e39b167a-6827-498b-8062-bf89d74c1e48 #s-Paragraph_10 .valign {
  vertical-align: top;
  text-align: right;
}
#s-e39b167a-6827-498b-8062-bf89d74c1e48 #s-Paragraph_10 span {
  color: #FFFFFF;
  text-align: right;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 9.0pt;
}
#s-e39b167a-6827-498b-8062-bf89d74c1e48 #s-Paragraph_10 span#rtr-s-Paragraph_10_0 {
  color: #FFFFFF;
  text-align: right;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 9.0pt;
  line-height: 0px;
}
#s-e39b167a-6827-498b-8062-bf89d74c1e48 #s-Battery_7 > svg {
}
#s-e39b167a-6827-498b-8062-bf89d74c1e48 #s-Battery_7 {
  position: absolute;
  width: 25px;
  height: 10px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-e39b167a-6827-498b-8062-bf89d74c1e48 #s-Battery_7 > img, #s-e39b167a-6827-498b-8062-bf89d74c1e48 #s-Battery_7 > svg {
  height: 10px;
  width: 25px;
  box-shadow: none;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-e39b167a-6827-498b-8062-bf89d74c1e48 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}