#s-f25bbb63-30e3-4c35-a767-bc1bfa17c128 #s-BgDegradePurple {
  -pie-background: linear-gradient(to bottom,#2F2F55,#5461B8);
  -pie-poll: false;
  -ms-transform: rotate(0.0deg);
}
#s-f25bbb63-30e3-4c35-a767-bc1bfa17c128 #s-Rectangle_1 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #404040;
  border-radius: 17px 17px 17px 17px;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=30);
  filter: alpha(opacity=30);
  -ms-transform: rotate(0.0deg);
}
#s-f25bbb63-30e3-4c35-a767-bc1bfa17c128 #s-Pax_bg {
  -ms-transform: rotate(0.0deg);
}
#s-f25bbb63-30e3-4c35-a767-bc1bfa17c128 #s-plus_passengers {
  -ms-transform: rotate(0.0deg);
}
#s-f25bbb63-30e3-4c35-a767-bc1bfa17c128 #s-Passengers {
  -ms-transform: rotate(0.0deg);
}
#s-f25bbb63-30e3-4c35-a767-bc1bfa17c128 #s-Panel_4 {
  border-radius: 0px 0px 0px 0px;
}
#s-f25bbb63-30e3-4c35-a767-bc1bfa17c128 #s-Panel_4 > .valign {
  vertical-align: middle;
}
#s-f25bbb63-30e3-4c35-a767-bc1bfa17c128 #s-PaxAdults_1 {
  -ms-transform: rotate(0.0deg);
}
#s-f25bbb63-30e3-4c35-a767-bc1bfa17c128 #s-PaxAChilds_2 {
  -ms-transform: rotate(0.0deg);
}
#s-f25bbb63-30e3-4c35-a767-bc1bfa17c128 #s-dash_1 {
  -ms-transform: rotate(0.0deg);
}
#s-f25bbb63-30e3-4c35-a767-bc1bfa17c128 #s-PaxBabies_3 {
  -ms-transform: rotate(0.0deg);
}
#s-f25bbb63-30e3-4c35-a767-bc1bfa17c128 #s-dash_2 {
  -ms-transform: rotate(0.0deg);
}
#s-f25bbb63-30e3-4c35-a767-bc1bfa17c128 #s-Button-Search {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #663D95;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #663D95;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #663D95;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #663D95;
  border-radius: 17px 17px 17px 17px;
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  height: 18px;
  width: 310px;
  -ms-transform: rotate(0.0deg);
}
#s-f25bbb63-30e3-4c35-a767-bc1bfa17c128 #s-Return_1 {
  -ms-transform: rotate(0.0deg);
}
#s-f25bbb63-30e3-4c35-a767-bc1bfa17c128 #s-Shape_4 {
  -ms-transform: rotate(0.0deg);
}
#s-f25bbb63-30e3-4c35-a767-bc1bfa17c128 #s-Departure_1 {
  -ms-transform: rotate(0.0deg);
}
#s-f25bbb63-30e3-4c35-a767-bc1bfa17c128 #s-Shape_5 {
  -ms-transform: rotate(0.0deg);
}
#s-f25bbb63-30e3-4c35-a767-bc1bfa17c128 #s-To_1a {
  -ms-transform: rotate(0.0deg);
}
#s-f25bbb63-30e3-4c35-a767-bc1bfa17c128 #s-To_1 {
  -ms-transform: rotate(0.0deg);
}
#s-f25bbb63-30e3-4c35-a767-bc1bfa17c128 #s-To {
  -ms-transform: rotate(0.0deg);
}
#s-f25bbb63-30e3-4c35-a767-bc1bfa17c128 #s-From_1a {
  -ms-transform: rotate(0.0deg);
}
#s-f25bbb63-30e3-4c35-a767-bc1bfa17c128 #s-From_1 {
  -ms-transform: rotate(0.0deg);
}
#s-f25bbb63-30e3-4c35-a767-bc1bfa17c128 #s-From {
  -ms-transform: rotate(0.0deg);
}
#s-f25bbb63-30e3-4c35-a767-bc1bfa17c128 #s-Line_1 {
  stroke-width: 1px;
  stroke: #FFFFFF;
  -ms-transform: rotate(0.0deg);
}
#s-f25bbb63-30e3-4c35-a767-bc1bfa17c128 #s-Line_1 {
  stroke-width: 1px;
  stroke: #FFFFFF;
  -ms-transform: rotate(0.0deg);
}
#s-f25bbb63-30e3-4c35-a767-bc1bfa17c128 #s-Line_2 {
  stroke-width: 1px;
  stroke: #FFFFFF;
  -ms-transform: rotate(0.0deg);
}
#s-f25bbb63-30e3-4c35-a767-bc1bfa17c128 #s-Line_2 {
  stroke-width: 1px;
  stroke: #FFFFFF;
  -ms-transform: rotate(0.0deg);
}
#s-f25bbb63-30e3-4c35-a767-bc1bfa17c128 #s-Line_3 {
  stroke-width: 1px;
  stroke: #FFFFFF;
  -ms-transform: rotate(0.0deg);
}
#s-f25bbb63-30e3-4c35-a767-bc1bfa17c128 #s-Line_3 {
  stroke-width: 1px;
  stroke: #FFFFFF;
  -ms-transform: rotate(0.0deg);
}
#s-f25bbb63-30e3-4c35-a767-bc1bfa17c128 #s-Line_4 {
  stroke-width: 1px;
  stroke: #FFFFFF;
  -ms-transform: rotate(0.0deg);
}
#s-f25bbb63-30e3-4c35-a767-bc1bfa17c128 #s-Line_4 {
  stroke-width: 1px;
  stroke: #FFFFFF;
  -ms-transform: rotate(0.0deg);
}
#s-f25bbb63-30e3-4c35-a767-bc1bfa17c128 #s-Image_1 {
  -ms-transform: rotate(0.0deg);
}
#s-f25bbb63-30e3-4c35-a767-bc1bfa17c128 #s-Paragraph_11 {
  -ms-transform: rotate(0.0deg);
}
#s-f25bbb63-30e3-4c35-a767-bc1bfa17c128 #s-Image_10 {
  -ms-transform: rotate(0.0deg);
}
#s-f25bbb63-30e3-4c35-a767-bc1bfa17c128 #s-Paragraph_12 {
  -ms-transform: rotate(0.0deg);
}
#s-f25bbb63-30e3-4c35-a767-bc1bfa17c128 #s-Paragraph_13 {
  -ms-transform: rotate(0.0deg);
}
#s-f25bbb63-30e3-4c35-a767-bc1bfa17c128 #s-Image_11 {
  -ms-transform: rotate(0.0deg);
}
#s-f25bbb63-30e3-4c35-a767-bc1bfa17c128 #s-Paragraph_14 {
  -ms-transform: rotate(0.0deg);
}
#s-f25bbb63-30e3-4c35-a767-bc1bfa17c128 #s-Paragraph_15 {
  -ms-transform: rotate(0.0deg);
}
#s-f25bbb63-30e3-4c35-a767-bc1bfa17c128 #s-Line_17 {
  stroke-width: 1px;
  stroke: #FFFFFF;
  -ms-transform: rotate(0.0deg);
}
#s-f25bbb63-30e3-4c35-a767-bc1bfa17c128 #s-Line_17 {
  stroke-width: 1px;
  stroke: #FFFFFF;
  -ms-transform: rotate(0.0deg);
}
#s-f25bbb63-30e3-4c35-a767-bc1bfa17c128 #s-Line_18 {
  stroke-width: 1px;
  stroke: #FFFFFF;
  -ms-transform: rotate(0.0deg);
}
#s-f25bbb63-30e3-4c35-a767-bc1bfa17c128 #s-Line_18 {
  stroke-width: 1px;
  stroke: #FFFFFF;
  -ms-transform: rotate(0.0deg);
}
#s-f25bbb63-30e3-4c35-a767-bc1bfa17c128 #s-Line_20 {
  stroke-width: 1px;
  stroke: #FFFFFF;
  -ms-transform: rotate(0.0deg);
}
#s-f25bbb63-30e3-4c35-a767-bc1bfa17c128 #s-Line_20 {
  stroke-width: 1px;
  stroke: #FFFFFF;
  -ms-transform: rotate(0.0deg);
}
#s-f25bbb63-30e3-4c35-a767-bc1bfa17c128 #s-Bg-One_Way {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  border-radius: 21px 21px 21px 21px;
  padding-top: 11px;
  padding-right: 11px;
  padding-bottom: 11px;
  padding-left: 11px;
  height: 20px;
  width: 112px;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  filter: alpha(opacity=50);
  -ms-transform: rotate(0.0deg);
}
#s-f25bbb63-30e3-4c35-a767-bc1bfa17c128 #s-One_Way_txt {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  border-radius: 12px 12px 12px 12px;
  padding-top: 6px;
  padding-right: 6px;
  padding-bottom: 6px;
  padding-left: 6px;
  height: calc(100% + -12px);
  width: calc(100% + -12px);
  -ms-transform: rotate(0.0deg);
}
#s-f25bbb63-30e3-4c35-a767-bc1bfa17c128 #s-Bg-Round_Trip {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  border-radius: 21px 21px 21px 21px;
  padding-top: 11px;
  padding-right: 11px;
  padding-bottom: 11px;
  padding-left: 11px;
  height: 20px;
  width: 112px;
  -ms-transform: rotate(0.0deg);
}
#s-f25bbb63-30e3-4c35-a767-bc1bfa17c128 #s-Round_trip_txt_1 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  border-radius: 12px 12px 12px 12px;
  padding-top: 6px;
  padding-right: 6px;
  padding-bottom: 6px;
  padding-left: 6px;
  height: calc(100% + -12px);
  width: calc(100% + -12px);
  -ms-transform: rotate(0.0deg);
}
#s-f25bbb63-30e3-4c35-a767-bc1bfa17c128 #s-SanFrancisco {
  -ms-transform: rotate(0.0deg);
}
#s-f25bbb63-30e3-4c35-a767-bc1bfa17c128 #s-Barcelona {
  -ms-transform: rotate(0.0deg);
}
#s-f25bbb63-30e3-4c35-a767-bc1bfa17c128 #s-Tokyo {
  -ms-transform: rotate(0.0deg);
}
#s-f25bbb63-30e3-4c35-a767-bc1bfa17c128 #s-MoonSt0 {
  -ms-transform: rotate(0.0deg);
}
#s-f25bbb63-30e3-4c35-a767-bc1bfa17c128 #s-MoonSt1 {
  -ms-transform: rotate(0.0deg);
}
#s-f25bbb63-30e3-4c35-a767-bc1bfa17c128 #s-Line_5 {
  stroke-width: 1px;
  stroke: #A9A9A9;
  -ms-transform: rotate(0.0deg);
}
#s-f25bbb63-30e3-4c35-a767-bc1bfa17c128 #s-Line_5 {
  stroke-width: 1px;
  stroke: #A9A9A9;
  -ms-transform: rotate(0.0deg);
}
#s-f25bbb63-30e3-4c35-a767-bc1bfa17c128 #s-Line_6 {
  stroke-width: 1px;
  stroke: #A9A9A9;
  -ms-transform: rotate(0.0deg);
}
#s-f25bbb63-30e3-4c35-a767-bc1bfa17c128 #s-Line_6 {
  stroke-width: 1px;
  stroke: #A9A9A9;
  -ms-transform: rotate(0.0deg);
}
#s-f25bbb63-30e3-4c35-a767-bc1bfa17c128 #s-from_Done {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  -ms-transform: rotate(0.0deg);
}
#s-f25bbb63-30e3-4c35-a767-bc1bfa17c128 #s-SanFrancisco_1 {
  -ms-transform: rotate(0.0deg);
}
#s-f25bbb63-30e3-4c35-a767-bc1bfa17c128 #s-Barcelona_1 {
  -ms-transform: rotate(0.0deg);
}
#s-f25bbb63-30e3-4c35-a767-bc1bfa17c128 #s-Tokyo_1 {
  -ms-transform: rotate(0.0deg);
}
#s-f25bbb63-30e3-4c35-a767-bc1bfa17c128 #s-MoonSt2 {
  -ms-transform: rotate(0.0deg);
}
#s-f25bbb63-30e3-4c35-a767-bc1bfa17c128 #s-MoonSt_2 {
  -ms-transform: rotate(0.0deg);
}
#s-f25bbb63-30e3-4c35-a767-bc1bfa17c128 #s-Line_10 {
  stroke-width: 1px;
  stroke: #A9A9A9;
  -ms-transform: rotate(0.0deg);
}
#s-f25bbb63-30e3-4c35-a767-bc1bfa17c128 #s-Line_10 {
  stroke-width: 1px;
  stroke: #A9A9A9;
  -ms-transform: rotate(0.0deg);
}
#s-f25bbb63-30e3-4c35-a767-bc1bfa17c128 #s-Line_11 {
  stroke-width: 1px;
  stroke: #A9A9A9;
  -ms-transform: rotate(0.0deg);
}
#s-f25bbb63-30e3-4c35-a767-bc1bfa17c128 #s-Line_11 {
  stroke-width: 1px;
  stroke: #A9A9A9;
  -ms-transform: rotate(0.0deg);
}
#s-f25bbb63-30e3-4c35-a767-bc1bfa17c128 #s-to_Done {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  -ms-transform: rotate(0.0deg);
}
#s-f25bbb63-30e3-4c35-a767-bc1bfa17c128 #s-bgblur {
  -ms-transform: rotate(0.0deg);
}
#s-f25bbb63-30e3-4c35-a767-bc1bfa17c128 #s-opacity {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=20);
  filter: alpha(opacity=20);
  -ms-transform: rotate(0.0deg);
}
#s-f25bbb63-30e3-4c35-a767-bc1bfa17c128 #s-BG_selection {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  border-radius: 10px 10px 10px 10px;
  -ms-transform: rotate(0.0deg);
}
#s-f25bbb63-30e3-4c35-a767-bc1bfa17c128 #s-Paragraph_2 {
  -ms-transform: rotate(0.0deg);
}
#s-f25bbb63-30e3-4c35-a767-bc1bfa17c128 #s-Paragraph_8 {
  -ms-transform: rotate(0.0deg);
}
#s-f25bbb63-30e3-4c35-a767-bc1bfa17c128 #s-Paragraph_9 {
  -ms-transform: rotate(0.0deg);
}
#s-f25bbb63-30e3-4c35-a767-bc1bfa17c128 #s-Menosde_2_aos {
  -ms-transform: rotate(0.0deg);
}
#s-f25bbb63-30e3-4c35-a767-bc1bfa17c128 #s-Babies {
  -ms-transform: rotate(0.0deg);
}
#s-f25bbb63-30e3-4c35-a767-bc1bfa17c128 #s-aos {
  -ms-transform: rotate(0.0deg);
}
#s-f25bbb63-30e3-4c35-a767-bc1bfa17c128 #s-Children {
  -ms-transform: rotate(0.0deg);
}
#s-f25bbb63-30e3-4c35-a767-bc1bfa17c128 #s-Mayoresde_16_aos {
  -ms-transform: rotate(0.0deg);
}
#s-f25bbb63-30e3-4c35-a767-bc1bfa17c128 #s-Adults {
  -ms-transform: rotate(0.0deg);
}
#s-f25bbb63-30e3-4c35-a767-bc1bfa17c128 #s-Passengers_2 {
  -ms-transform: rotate(0.0deg);
}
#s-f25bbb63-30e3-4c35-a767-bc1bfa17c128 #s-Button-black {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #D9D9D9;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #D9D9D9;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #D9D9D9;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #D9D9D9;
  border-radius: 15px 15px 15px 15px;
  padding-top: 9px;
  padding-right: 9px;
  padding-bottom: 9px;
  padding-left: 9px;
  height: 15px;
  width: 116px;
  -ms-transform: rotate(0.0deg);
}
#s-f25bbb63-30e3-4c35-a767-bc1bfa17c128 #s-Button-black_1 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #D9D9D9;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #D9D9D9;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #D9D9D9;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #D9D9D9;
  border-radius: 15px 15px 15px 15px;
  padding-top: 9px;
  padding-right: 9px;
  padding-bottom: 9px;
  padding-left: 9px;
  height: 15px;
  width: 116px;
  -ms-transform: rotate(0.0deg);
}
#s-f25bbb63-30e3-4c35-a767-bc1bfa17c128 #s-Image_34 {
  -ms-transform: rotate(0.0deg);
}
#s-f25bbb63-30e3-4c35-a767-bc1bfa17c128 #s-Image_37 {
  -ms-transform: rotate(0.0deg);
}
#s-f25bbb63-30e3-4c35-a767-bc1bfa17c128 #s-Image_35 {
  -ms-transform: rotate(0.0deg);
}
#s-f25bbb63-30e3-4c35-a767-bc1bfa17c128 #s-Image_38 {
  -ms-transform: rotate(0.0deg);
}
#s-f25bbb63-30e3-4c35-a767-bc1bfa17c128 #s-Image_36 {
  -ms-transform: rotate(0.0deg);
}
#s-f25bbb63-30e3-4c35-a767-bc1bfa17c128 #s-Image_39 {
  -ms-transform: rotate(0.0deg);
}
#s-f25bbb63-30e3-4c35-a767-bc1bfa17c128 #s-Line_12 {
  stroke-width: 1px;
  stroke: #D9D9D9;
  -ms-transform: rotate(0.0deg);
}
#s-f25bbb63-30e3-4c35-a767-bc1bfa17c128 #s-Line_12 {
  stroke-width: 1px;
  stroke: #D9D9D9;
  -ms-transform: rotate(0.0deg);
}
#s-f25bbb63-30e3-4c35-a767-bc1bfa17c128 #s-Line_13 {
  stroke-width: 1px;
  stroke: #D9D9D9;
  -ms-transform: rotate(0.0deg);
}
#s-f25bbb63-30e3-4c35-a767-bc1bfa17c128 #s-Line_13 {
  stroke-width: 1px;
  stroke: #D9D9D9;
  -ms-transform: rotate(0.0deg);
}
#s-f25bbb63-30e3-4c35-a767-bc1bfa17c128 #s-Line_14 {
  stroke-width: 1px;
  stroke: #D9D9D9;
  -ms-transform: rotate(0.0deg);
}
#s-f25bbb63-30e3-4c35-a767-bc1bfa17c128 #s-Line_14 {
  stroke-width: 1px;
  stroke: #D9D9D9;
  -ms-transform: rotate(0.0deg);
}
#s-f25bbb63-30e3-4c35-a767-bc1bfa17c128 #s-Line_15 {
  stroke-width: 1px;
  stroke: #D9D9D9;
  -ms-transform: rotate(0.0deg);
}
#s-f25bbb63-30e3-4c35-a767-bc1bfa17c128 #s-Line_15 {
  stroke-width: 1px;
  stroke: #D9D9D9;
  -ms-transform: rotate(0.0deg);
}
#s-f25bbb63-30e3-4c35-a767-bc1bfa17c128 #s-opacity_1 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=20);
  filter: alpha(opacity=20);
  -ms-transform: rotate(0.0deg);
}
#s-f25bbb63-30e3-4c35-a767-bc1bfa17c128 #s-Rectangle_2 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=91);
  filter: alpha(opacity=91);
  -ms-transform: rotate(0.0deg);
}
#s-f25bbb63-30e3-4c35-a767-bc1bfa17c128 #s-Panel_1 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  border-radius: 9px 9px 9px 9px;
}
#s-f25bbb63-30e3-4c35-a767-bc1bfa17c128 #s-Panel_1 > .valign {
  vertical-align: top;
}
#s-f25bbb63-30e3-4c35-a767-bc1bfa17c128 #s-Please_correct {
  -ms-transform: rotate(0.0deg);
}
#s-f25bbb63-30e3-4c35-a767-bc1bfa17c128 #s-Line_16 {
  stroke-width: 1px;
  stroke: #D9D9D9;
  -ms-transform: rotate(0.0deg);
}
#s-f25bbb63-30e3-4c35-a767-bc1bfa17c128 #s-Line_16 {
  stroke-width: 1px;
  stroke: #D9D9D9;
  -ms-transform: rotate(0.0deg);
}
#s-f25bbb63-30e3-4c35-a767-bc1bfa17c128 #s-DepartureCity {
  -ms-transform: rotate(0.0deg);
}
#s-f25bbb63-30e3-4c35-a767-bc1bfa17c128 #s-WarningIcon_1 {
  -ms-transform: rotate(0.0deg);
}
#s-f25bbb63-30e3-4c35-a767-bc1bfa17c128 #s-DestinationCity {
  -ms-transform: rotate(0.0deg);
}
#s-f25bbb63-30e3-4c35-a767-bc1bfa17c128 #s-WarningIcon_2 {
  -ms-transform: rotate(0.0deg);
}
#s-f25bbb63-30e3-4c35-a767-bc1bfa17c128 #s-DepartureDate {
  -ms-transform: rotate(0.0deg);
}
#s-f25bbb63-30e3-4c35-a767-bc1bfa17c128 #s-WarningIcon_3 {
  -ms-transform: rotate(0.0deg);
}
#s-f25bbb63-30e3-4c35-a767-bc1bfa17c128 #s-ReturnDate {
  -ms-transform: rotate(0.0deg);
}
#s-f25bbb63-30e3-4c35-a767-bc1bfa17c128 #s-WarningIcon_4 {
  -ms-transform: rotate(0.0deg);
}
#s-f25bbb63-30e3-4c35-a767-bc1bfa17c128 #s-Line_19 {
  stroke-width: 1px;
  stroke: #D9D9D9;
  -ms-transform: rotate(0.0deg);
}
#s-f25bbb63-30e3-4c35-a767-bc1bfa17c128 #s-Line_19 {
  stroke-width: 1px;
  stroke: #D9D9D9;
  -ms-transform: rotate(0.0deg);
}
#s-f25bbb63-30e3-4c35-a767-bc1bfa17c128 #s-Button-OK {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #D9D9D9;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #D9D9D9;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #D9D9D9;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #D9D9D9;
  border-radius: 15px 15px 15px 15px;
  padding-top: 9px;
  padding-right: 9px;
  padding-bottom: 9px;
  padding-left: 9px;
  height: 15px;
  width: 116px;
  -ms-transform: rotate(0.0deg);
}
#s-f25bbb63-30e3-4c35-a767-bc1bfa17c128 #s-SEARCHFLIGHTS {
  -ms-transform: rotate(0.0deg);
}
#s-f25bbb63-30e3-4c35-a767-bc1bfa17c128 #s-DepartDate_year {
  -ms-transform: rotate(0.0deg);
}
#s-f25bbb63-30e3-4c35-a767-bc1bfa17c128 #s-DepartDate_day {
  -ms-transform: rotate(0.0deg);
}
#s-f25bbb63-30e3-4c35-a767-bc1bfa17c128 #s-DepartDate_month {
  -ms-transform: rotate(0.0deg);
}
#s-f25bbb63-30e3-4c35-a767-bc1bfa17c128 #s-SystemDate_year {
  -ms-transform: rotate(0.0deg);
}
#s-f25bbb63-30e3-4c35-a767-bc1bfa17c128 #s-SystemDate_day {
  -ms-transform: rotate(0.0deg);
}
#s-f25bbb63-30e3-4c35-a767-bc1bfa17c128 #s-SystemDate_month {
  -ms-transform: rotate(0.0deg);
}
#s-f25bbb63-30e3-4c35-a767-bc1bfa17c128 #s-RetunrDate_year {
  -ms-transform: rotate(0.0deg);
}
#s-f25bbb63-30e3-4c35-a767-bc1bfa17c128 #s-RetunrDate_day {
  -ms-transform: rotate(0.0deg);
}
#s-f25bbb63-30e3-4c35-a767-bc1bfa17c128 #s-RetunrDate_month {
  -ms-transform: rotate(0.0deg);
}
#s-f25bbb63-30e3-4c35-a767-bc1bfa17c128 #s-MobileSignal_7 {
  -ms-transform: rotate(0.0deg);
}
#s-f25bbb63-30e3-4c35-a767-bc1bfa17c128 #s-Carrier_7 {
  -ms-transform: rotate(0.0deg);
}
#s-f25bbb63-30e3-4c35-a767-bc1bfa17c128 #s-WiFi_7 {
  -ms-transform: rotate(0.0deg);
}
#s-f25bbb63-30e3-4c35-a767-bc1bfa17c128 #s-AM_7 {
  -ms-transform: rotate(0.0deg);
}
#s-f25bbb63-30e3-4c35-a767-bc1bfa17c128 #s-Paragraph_10 {
  -ms-transform: rotate(0.0deg);
}
#s-f25bbb63-30e3-4c35-a767-bc1bfa17c128 #s-Battery_7 {
  -ms-transform: rotate(0.0deg);
}
#s-f25bbb63-30e3-4c35-a767-bc1bfa17c128 #s-previousicon_3 {
  -ms-transform: rotate(0.0deg);
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-f25bbb63-30e3-4c35-a767-bc1bfa17c128 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}