#s-19d656d7-6057-4e6f-b1d9-6cef93161189 #s-BgDegradePurple {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-19d656d7-6057-4e6f-b1d9-6cef93161189 #s-America_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-19d656d7-6057-4e6f-b1d9-6cef93161189 #s-Europe_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-19d656d7-6057-4e6f-b1d9-6cef93161189 #s-Barcelona_20 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-19d656d7-6057-4e6f-b1d9-6cef93161189 #s-BCN_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-19d656d7-6057-4e6f-b1d9-6cef93161189 #s-SanFrancisco_20 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-19d656d7-6057-4e6f-b1d9-6cef93161189 #s-SFO_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-19d656d7-6057-4e6f-b1d9-6cef93161189 #s-iconRoundTrip {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-19d656d7-6057-4e6f-b1d9-6cef93161189 #s-iconOneWay {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-19d656d7-6057-4e6f-b1d9-6cef93161189 #s-SUMMARY {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-19d656d7-6057-4e6f-b1d9-6cef93161189 #s-previousicon_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-19d656d7-6057-4e6f-b1d9-6cef93161189 #s-TopSpace {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-19d656d7-6057-4e6f-b1d9-6cef93161189 #s-DepartureThu_30 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-19d656d7-6057-4e6f-b1d9-6cef93161189 #s-DepartureThu_31 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-19d656d7-6057-4e6f-b1d9-6cef93161189 #s-Fill_127 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-19d656d7-6057-4e6f-b1d9-6cef93161189 #s-Fill_128 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-19d656d7-6057-4e6f-b1d9-6cef93161189 #s-Fill_129 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-19d656d7-6057-4e6f-b1d9-6cef93161189 #s-Fill_130 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-19d656d7-6057-4e6f-b1d9-6cef93161189 #s-Fill_131 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-19d656d7-6057-4e6f-b1d9-6cef93161189 #s-Fill_132 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-19d656d7-6057-4e6f-b1d9-6cef93161189 #s-Fill_133 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-19d656d7-6057-4e6f-b1d9-6cef93161189 #s-Fill_134 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-19d656d7-6057-4e6f-b1d9-6cef93161189 #s-Fill_135 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-19d656d7-6057-4e6f-b1d9-6cef93161189 #s-Fill_136 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-19d656d7-6057-4e6f-b1d9-6cef93161189 #s-Fill_137 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-19d656d7-6057-4e6f-b1d9-6cef93161189 #s-Fill_138 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-19d656d7-6057-4e6f-b1d9-6cef93161189 #s-Fill_139 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-19d656d7-6057-4e6f-b1d9-6cef93161189 #s-Fill_140 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-19d656d7-6057-4e6f-b1d9-6cef93161189 #s-Fill_141 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-19d656d7-6057-4e6f-b1d9-6cef93161189 #s-Clip_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-19d656d7-6057-4e6f-b1d9-6cef93161189 #s-Fill_142 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-19d656d7-6057-4e6f-b1d9-6cef93161189 #s-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-19d656d7-6057-4e6f-b1d9-6cef93161189 #s-Paragraph_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-19d656d7-6057-4e6f-b1d9-6cef93161189 #s-Paragraph_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-19d656d7-6057-4e6f-b1d9-6cef93161189 #s-Barcelona_19 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-19d656d7-6057-4e6f-b1d9-6cef93161189 #s-SanFrancisco_19 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-19d656d7-6057-4e6f-b1d9-6cef93161189 #s-Image_13 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-19d656d7-6057-4e6f-b1d9-6cef93161189 #s-Line_2 {
  rotation: 90.0;
  margin-left: 17px;
  margin-top: -18px;
}
#s-19d656d7-6057-4e6f-b1d9-6cef93161189 #s-ReturnMon_10_Feb {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-19d656d7-6057-4e6f-b1d9-6cef93161189 #s-ReturnMon_10_Feb_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-19d656d7-6057-4e6f-b1d9-6cef93161189 #s-Fill_111 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-19d656d7-6057-4e6f-b1d9-6cef93161189 #s-Fill_112 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-19d656d7-6057-4e6f-b1d9-6cef93161189 #s-Fill_113 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-19d656d7-6057-4e6f-b1d9-6cef93161189 #s-Fill_114 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-19d656d7-6057-4e6f-b1d9-6cef93161189 #s-Fill_115 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-19d656d7-6057-4e6f-b1d9-6cef93161189 #s-Fill_116 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-19d656d7-6057-4e6f-b1d9-6cef93161189 #s-Fill_117 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-19d656d7-6057-4e6f-b1d9-6cef93161189 #s-Fill_118 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-19d656d7-6057-4e6f-b1d9-6cef93161189 #s-Fill_119 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-19d656d7-6057-4e6f-b1d9-6cef93161189 #s-Fill_120 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-19d656d7-6057-4e6f-b1d9-6cef93161189 #s-Fill_121 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-19d656d7-6057-4e6f-b1d9-6cef93161189 #s-Fill_122 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-19d656d7-6057-4e6f-b1d9-6cef93161189 #s-Fill_123 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-19d656d7-6057-4e6f-b1d9-6cef93161189 #s-Fill_124 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-19d656d7-6057-4e6f-b1d9-6cef93161189 #s-Fill_125 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-19d656d7-6057-4e6f-b1d9-6cef93161189 #s-Clip_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-19d656d7-6057-4e6f-b1d9-6cef93161189 #s-Fill_126 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-19d656d7-6057-4e6f-b1d9-6cef93161189 #s-Rectangle_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-19d656d7-6057-4e6f-b1d9-6cef93161189 #s-Paragraph_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-19d656d7-6057-4e6f-b1d9-6cef93161189 #s-Paragraph_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-19d656d7-6057-4e6f-b1d9-6cef93161189 #s-Barcelona_21 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-19d656d7-6057-4e6f-b1d9-6cef93161189 #s-SanFrancisco_21 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-19d656d7-6057-4e6f-b1d9-6cef93161189 #s-Image_14 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-19d656d7-6057-4e6f-b1d9-6cef93161189 #s-Line_3 {
  rotation: 90.0;
  margin-left: 17px;
  margin-top: -18px;
}
#s-19d656d7-6057-4e6f-b1d9-6cef93161189 #s-Line_1 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-19d656d7-6057-4e6f-b1d9-6cef93161189 #s-Total {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-19d656d7-6057-4e6f-b1d9-6cef93161189 #s-Paragraph_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-19d656d7-6057-4e6f-b1d9-6cef93161189 #s-TotalFlight {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-19d656d7-6057-4e6f-b1d9-6cef93161189 #s-Button-black_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-19d656d7-6057-4e6f-b1d9-6cef93161189 #s-BottomSpace {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-ead4920d-bc72-485d-9d8a-d7fd3fe9c9d6 #m-ead4920d-Bg_shadow {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-ead4920d-bc72-485d-9d8a-d7fd3fe9c9d6 #m-ead4920d-More_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-ead4920d-bc72-485d-9d8a-d7fd3fe9c9d6 #m-ead4920d-Fill_151 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-ead4920d-bc72-485d-9d8a-d7fd3fe9c9d6 #m-ead4920d-Fill_152 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-ead4920d-bc72-485d-9d8a-d7fd3fe9c9d6 #m-ead4920d-Fill_153 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-ead4920d-bc72-485d-9d8a-d7fd3fe9c9d6 #m-ead4920d-Checkin_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-ead4920d-bc72-485d-9d8a-d7fd3fe9c9d6 #m-ead4920d-Clip_13 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-ead4920d-bc72-485d-9d8a-d7fd3fe9c9d6 #m-ead4920d-Fill_154 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-ead4920d-bc72-485d-9d8a-d7fd3fe9c9d6 #m-ead4920d-Fill_155 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-ead4920d-bc72-485d-9d8a-d7fd3fe9c9d6 #m-ead4920d-Boardingpass_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-ead4920d-bc72-485d-9d8a-d7fd3fe9c9d6 #m-ead4920d-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-ead4920d-bc72-485d-9d8a-d7fd3fe9c9d6 #m-ead4920d-Search_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-ead4920d-bc72-485d-9d8a-d7fd3fe9c9d6 #m-ead4920d-planeicon_15 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-19d656d7-6057-4e6f-b1d9-6cef93161189 #s-MobileSignal_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-19d656d7-6057-4e6f-b1d9-6cef93161189 #s-Carrier_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-19d656d7-6057-4e6f-b1d9-6cef93161189 #s-WiFi_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-19d656d7-6057-4e6f-b1d9-6cef93161189 #s-AM_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-19d656d7-6057-4e6f-b1d9-6cef93161189 #s-Paragraph_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-19d656d7-6057-4e6f-b1d9-6cef93161189 #s-Battery_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-19d656d7-6057-4e6f-b1d9-6cef93161189 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}