#s-378485f4-67ef-44d1-a1f4-42ba59a59083 #s-BgDegradePurple {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-378485f4-67ef-44d1-a1f4-42ba59a59083 #s-MobileSignal_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-378485f4-67ef-44d1-a1f4-42ba59a59083 #s-Carrier_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-378485f4-67ef-44d1-a1f4-42ba59a59083 #s-WiFi_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-378485f4-67ef-44d1-a1f4-42ba59a59083 #s-AM_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-378485f4-67ef-44d1-a1f4-42ba59a59083 #s-Paragraph_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-378485f4-67ef-44d1-a1f4-42ba59a59083 #s-Battery_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-378485f4-67ef-44d1-a1f4-42ba59a59083 #s-MobileSignal_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-378485f4-67ef-44d1-a1f4-42ba59a59083 #s-Carrier_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-378485f4-67ef-44d1-a1f4-42ba59a59083 #s-AM_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-378485f4-67ef-44d1-a1f4-42ba59a59083 #s-Paragraph_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-378485f4-67ef-44d1-a1f4-42ba59a59083 #s-Battery_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-378485f4-67ef-44d1-a1f4-42ba59a59083 #s-Image_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-378485f4-67ef-44d1-a1f4-42ba59a59083 #s-Bg-Round_Trip {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-378485f4-67ef-44d1-a1f4-42ba59a59083 #s-Round_trip_txt_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-378485f4-67ef-44d1-a1f4-42ba59a59083 #s-Bg-Round_Trip_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-378485f4-67ef-44d1-a1f4-42ba59a59083 #s-Round_trip_txt_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-378485f4-67ef-44d1-a1f4-42ba59a59083 #s-Bg-Round_Trip_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-378485f4-67ef-44d1-a1f4-42ba59a59083 #s-Round_trip_txt_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-378485f4-67ef-44d1-a1f4-42ba59a59083 #s-Image_1 {
  -ms-filter:  progid:DXImageTransform.Microsoft.Matrix(SizingMethod = 'auto expand',M11=0.9659258262890683,M12=0.2588190451025207,M21=-0.2588190451025207,M22=0.9659258262890683);
  filter:  progid:DXImageTransform.Microsoft.Matrix(SizingMethod = 'auto expand',M11=0.9659258262890683,M12=0.2588190451025207,M21=-0.2588190451025207,M22=0.9659258262890683);
  margin-left: -8px;
  margin-top: -8px;
}
#s-378485f4-67ef-44d1-a1f4-42ba59a59083 #s-Image_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-378485f4-67ef-44d1-a1f4-42ba59a59083 #s-Image_4 {
  -ms-filter:  progid:DXImageTransform.Microsoft.Matrix(SizingMethod = 'auto expand',M11=0.9961946980917455,M12=-0.08715574274765817,M21=0.08715574274765817,M22=0.9961946980917455);
  filter:  progid:DXImageTransform.Microsoft.Matrix(SizingMethod = 'auto expand',M11=0.9961946980917455,M12=-0.08715574274765817,M21=0.08715574274765817,M22=0.9961946980917455);
  margin-left: -8px;
  margin-top: -7px;
}
#s-378485f4-67ef-44d1-a1f4-42ba59a59083 #s-Image_5 {
  -ms-filter:  progid:DXImageTransform.Microsoft.Matrix(SizingMethod = 'auto expand',M11=0.9271838545667873,M12=0.37460659341591235,M21=-0.37460659341591235,M22=0.9271838545667873);
  filter:  progid:DXImageTransform.Microsoft.Matrix(SizingMethod = 'auto expand',M11=0.9271838545667873,M12=0.37460659341591235,M21=-0.37460659341591235,M22=0.9271838545667873);
  margin-left: -11px;
  margin-top: -25px;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-378485f4-67ef-44d1-a1f4-42ba59a59083 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}