#s-67c6fa7c-368d-4172-b93c-4c9f9426509f #s-BgDegradePurple {
  -pie-background: linear-gradient(to bottom,#2F2F55,#5461B8);
  -pie-poll: false;
  -ms-transform: rotate(0.0deg);
}
#s-67c6fa7c-368d-4172-b93c-4c9f9426509f #s-America_9 {
  -ms-transform: rotate(0.0deg);
}
#s-67c6fa7c-368d-4172-b93c-4c9f9426509f #s-Europe_9 {
  -ms-transform: rotate(0.0deg);
}
#s-67c6fa7c-368d-4172-b93c-4c9f9426509f #s-TopSpace {
  -ms-transform: rotate(0.0deg);
}
#s-67c6fa7c-368d-4172-b93c-4c9f9426509f #s-Barcelona_20 {
  -ms-transform: rotate(0.0deg);
}
#s-67c6fa7c-368d-4172-b93c-4c9f9426509f #s-SanFrancisco_20 {
  -ms-transform: rotate(0.0deg);
}
#s-67c6fa7c-368d-4172-b93c-4c9f9426509f #s-SUMMARY {
  -ms-transform: rotate(0.0deg);
}
#s-67c6fa7c-368d-4172-b93c-4c9f9426509f #s-previousicon_6 {
  -ms-transform: rotate(0.0deg);
}
#s-67c6fa7c-368d-4172-b93c-4c9f9426509f #s-MobileSignal_7 {
  -ms-transform: rotate(0.0deg);
}
#s-67c6fa7c-368d-4172-b93c-4c9f9426509f #s-Carrier_7 {
  -ms-transform: rotate(0.0deg);
}
#s-67c6fa7c-368d-4172-b93c-4c9f9426509f #s-WiFi_7 {
  -ms-transform: rotate(0.0deg);
}
#s-67c6fa7c-368d-4172-b93c-4c9f9426509f #s-AM_7 {
  -ms-transform: rotate(0.0deg);
}
#s-67c6fa7c-368d-4172-b93c-4c9f9426509f #s-Paragraph_10 {
  -ms-transform: rotate(0.0deg);
}
#s-67c6fa7c-368d-4172-b93c-4c9f9426509f #s-Battery_7 {
  -ms-transform: rotate(0.0deg);
}
#s-67c6fa7c-368d-4172-b93c-4c9f9426509f #s-Text_1 {
  -ms-transform: rotate(0.0deg);
}
#s-67c6fa7c-368d-4172-b93c-4c9f9426509f #s-Category_1-options {
  background-color: #F3F3F3;
}
#s-67c6fa7c-368d-4172-b93c-4c9f9426509f #s-Button_1 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CCCCCC;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CCCCCC;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CCCCCC;
  border-radius: 7px 7px 7px 7px;
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  height: 19px;
  width: 73px;
  -ms-transform: rotate(0.0deg);
}
#s-67c6fa7c-368d-4172-b93c-4c9f9426509f #s-Text_2 {
  -ms-transform: rotate(0.0deg);
}
#s-67c6fa7c-368d-4172-b93c-4c9f9426509f #s-Category_2-options {
  background-color: #F3F3F3;
}
#s-67c6fa7c-368d-4172-b93c-4c9f9426509f #s-Button-black_2 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #663D95;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #663D95;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #663D95;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #663D95;
  border-radius: 17px 17px 17px 17px;
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  height: 18px;
  width: 221px;
  -ms-transform: rotate(0.0deg);
}
#s-67c6fa7c-368d-4172-b93c-4c9f9426509f #s-Line_1 {
  stroke-width: 2px;
  stroke: #404040;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=20) progid:DXImageTransform.Microsoft.Alpha(Opacity=20);
  filter: alpha(opacity=20) alpha(opacity=20);
  -ms-transform: rotate(0.0deg);
}
#s-67c6fa7c-368d-4172-b93c-4c9f9426509f #s-Line_1 {
  stroke-width: 2px;
  stroke: #404040;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=20) progid:DXImageTransform.Microsoft.Alpha(Opacity=20);
  filter: alpha(opacity=20) alpha(opacity=20);
  -ms-transform: rotate(0.0deg);
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-67c6fa7c-368d-4172-b93c-4c9f9426509f > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}