#s-a3a4cbd6-314e-40b4-9a75-67704e082c6e #s-BgDegradePurple {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a3a4cbd6-314e-40b4-9a75-67704e082c6e #s-MobileSignal_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a3a4cbd6-314e-40b4-9a75-67704e082c6e #s-Carrier_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a3a4cbd6-314e-40b4-9a75-67704e082c6e #s-WiFi_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a3a4cbd6-314e-40b4-9a75-67704e082c6e #s-AM_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a3a4cbd6-314e-40b4-9a75-67704e082c6e #s-Paragraph_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a3a4cbd6-314e-40b4-9a75-67704e082c6e #s-Battery_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a3a4cbd6-314e-40b4-9a75-67704e082c6e #s-DEPARTUREFLIGHT_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a3a4cbd6-314e-40b4-9a75-67704e082c6e #s-previousicon_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a3a4cbd6-314e-40b4-9a75-67704e082c6e #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a3a4cbd6-314e-40b4-9a75-67704e082c6e #s-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a3a4cbd6-314e-40b4-9a75-67704e082c6e #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a3a4cbd6-314e-40b4-9a75-67704e082c6e #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a3a4cbd6-314e-40b4-9a75-67704e082c6e #s-Text_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a3a4cbd6-314e-40b4-9a75-67704e082c6e #s-Text_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a3a4cbd6-314e-40b4-9a75-67704e082c6e #s-Bg-Round_Trip {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a3a4cbd6-314e-40b4-9a75-67704e082c6e #s-Round_trip_txt_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-a3a4cbd6-314e-40b4-9a75-67704e082c6e > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}