#s-d4cdd970-e385-4e95-94c0-e6c98594d1e9 #s-BgDegradePurple {
  -pie-background: linear-gradient(to bottom,#2F2F55,#5461B8);
  -pie-poll: false;
  -ms-transform: rotate(0.0deg);
}
#s-d4cdd970-e385-4e95-94c0-e6c98594d1e9 #s-Rectangle_1 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-d4cdd970-e385-4e95-94c0-e6c98594d1e9 #s-BgDegradePurple_1 {
  -pie-background: linear-gradient(to bottom,#2F2F55,#5461B8);
  -pie-poll: false;
  -ms-transform: rotate(0.0deg);
}
#s-d4cdd970-e385-4e95-94c0-e6c98594d1e9 #s-America_6 {
  -ms-transform: rotate(0.0deg);
}
#s-d4cdd970-e385-4e95-94c0-e6c98594d1e9 #s-Europe_6 {
  -ms-transform: rotate(0.0deg);
}
#s-d4cdd970-e385-4e95-94c0-e6c98594d1e9 #s-Return_1 {
  -ms-transform: rotate(0.0deg);
}
#s-d4cdd970-e385-4e95-94c0-e6c98594d1e9 #s-Departure_1 {
  -ms-transform: rotate(0.0deg);
}
#s-d4cdd970-e385-4e95-94c0-e6c98594d1e9 #s-Line_3 {
  stroke-width: 1px;
  stroke: #525252;
  -ms-transform: rotate(0.0deg);
}
#s-d4cdd970-e385-4e95-94c0-e6c98594d1e9 #s-Line_3 {
  stroke-width: 1px;
  stroke: #525252;
  -ms-transform: rotate(0.0deg);
}
#s-d4cdd970-e385-4e95-94c0-e6c98594d1e9 #s-Line_4 {
  stroke-width: 1px;
  stroke: #525252;
  -ms-transform: rotate(0.0deg);
}
#s-d4cdd970-e385-4e95-94c0-e6c98594d1e9 #s-Line_4 {
  stroke-width: 1px;
  stroke: #525252;
  -ms-transform: rotate(0.0deg);
}
#s-d4cdd970-e385-4e95-94c0-e6c98594d1e9 #s-DEPARTUREFLIGHT_1 {
  -ms-transform: rotate(0.0deg);
}
#s-d4cdd970-e385-4e95-94c0-e6c98594d1e9 #s-previousicon_3 {
  -ms-transform: rotate(0.0deg);
}
#s-d4cdd970-e385-4e95-94c0-e6c98594d1e9 #s-planeicon_9 {
  -ms-transform: rotate(0.0deg);
}
#s-d4cdd970-e385-4e95-94c0-e6c98594d1e9 #s-Barcelona_9 {
  -ms-transform: rotate(0.0deg);
}
#s-d4cdd970-e385-4e95-94c0-e6c98594d1e9 #s-SanFrancisco_9 {
  -ms-transform: rotate(0.0deg);
}
#s-d4cdd970-e385-4e95-94c0-e6c98594d1e9 #s-Rectangle_5 {
  -ms-transform: rotate(0.0deg);
}
#s-d4cdd970-e385-4e95-94c0-e6c98594d1e9 #s-MobileSignal_7 {
  -ms-transform: rotate(0.0deg);
}
#s-d4cdd970-e385-4e95-94c0-e6c98594d1e9 #s-Carrier_7 {
  -ms-transform: rotate(0.0deg);
}
#s-d4cdd970-e385-4e95-94c0-e6c98594d1e9 #s-WiFi_7 {
  -ms-transform: rotate(0.0deg);
}
#s-d4cdd970-e385-4e95-94c0-e6c98594d1e9 #s-AM_7 {
  -ms-transform: rotate(0.0deg);
}
#s-d4cdd970-e385-4e95-94c0-e6c98594d1e9 #s-Paragraph_10 {
  -ms-transform: rotate(0.0deg);
}
#s-d4cdd970-e385-4e95-94c0-e6c98594d1e9 #s-Battery_7 {
  -ms-transform: rotate(0.0deg);
}
#s-d4cdd970-e385-4e95-94c0-e6c98594d1e9 #s-Text_1 {
  -ms-transform: rotate(0.0deg);
}
#s-d4cdd970-e385-4e95-94c0-e6c98594d1e9 #s-Text_2 {
  -ms-transform: rotate(0.0deg);
}
#s-d4cdd970-e385-4e95-94c0-e6c98594d1e9 #s-Bg-Round_Trip {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  border-radius: 21px 21px 21px 21px;
  padding-top: 11px;
  padding-right: 11px;
  padding-bottom: 11px;
  padding-left: 11px;
  height: 20px;
  width: 177px;
  -ms-transform: rotate(0.0deg);
}
#s-d4cdd970-e385-4e95-94c0-e6c98594d1e9 #s-Round_trip_txt_1 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  border-radius: 12px 12px 12px 12px;
  padding-top: 6px;
  padding-right: 6px;
  padding-bottom: 6px;
  padding-left: 6px;
  height: calc(100% + -12px);
  width: calc(100% + -12px);
  -ms-transform: rotate(0.0deg);
}
#s-d4cdd970-e385-4e95-94c0-e6c98594d1e9 #s-opacity_1 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=20);
  filter: alpha(opacity=20);
  -ms-transform: rotate(0.0deg);
}
#s-d4cdd970-e385-4e95-94c0-e6c98594d1e9 #s-Rectangle_2 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=91);
  filter: alpha(opacity=91);
  -ms-transform: rotate(0.0deg);
}
#s-d4cdd970-e385-4e95-94c0-e6c98594d1e9 #s-Panel_2 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  border-radius: 10px 10px 10px 10px;
}
#s-d4cdd970-e385-4e95-94c0-e6c98594d1e9 #s-Panel_2 > .valign {
  vertical-align: top;
}
#s-d4cdd970-e385-4e95-94c0-e6c98594d1e9 #s-Please_correct {
  -ms-transform: rotate(0.0deg);
}
#s-d4cdd970-e385-4e95-94c0-e6c98594d1e9 #s-WarningIcon_1 {
  -ms-transform: rotate(0.0deg);
}
#s-d4cdd970-e385-4e95-94c0-e6c98594d1e9 #s-Line_32 {
  stroke-width: 1px;
  stroke: #D9D9D9;
  -ms-transform: rotate(0.0deg);
}
#s-d4cdd970-e385-4e95-94c0-e6c98594d1e9 #s-Line_32 {
  stroke-width: 1px;
  stroke: #D9D9D9;
  -ms-transform: rotate(0.0deg);
}
#s-d4cdd970-e385-4e95-94c0-e6c98594d1e9 #s-Button-OK {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #D9D9D9;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #D9D9D9;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #D9D9D9;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #D9D9D9;
  border-radius: 15px 15px 15px 15px;
  padding-top: 9px;
  padding-right: 9px;
  padding-bottom: 9px;
  padding-left: 9px;
  height: 15px;
  width: 116px;
  -ms-transform: rotate(0.0deg);
}
#s-d4cdd970-e385-4e95-94c0-e6c98594d1e9 #s-Rectangle_3 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  filter: alpha(opacity=0);
  -ms-transform: rotate(0.0deg);
}
#s-d4cdd970-e385-4e95-94c0-e6c98594d1e9 #s-Text_3 {
  -ms-transform: rotate(0.0deg);
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-d4cdd970-e385-4e95-94c0-e6c98594d1e9 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}