#s-e39b167a-6827-498b-8062-bf89d74c1e48 #s-BgDegradePurple {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e39b167a-6827-498b-8062-bf89d74c1e48 #s-America_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e39b167a-6827-498b-8062-bf89d74c1e48 #s-Europe_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e39b167a-6827-498b-8062-bf89d74c1e48 #s-BOARDINGPASSES_LIST {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e39b167a-6827-498b-8062-bf89d74c1e48 #s-bpList .s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e39b167a-6827-498b-8062-bf89d74c1e48 #s-bpList .s-Line_2 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e39b167a-6827-498b-8062-bf89d74c1e48 #s-bpList .s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e39b167a-6827-498b-8062-bf89d74c1e48 #s-bpList .s-Image_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e39b167a-6827-498b-8062-bf89d74c1e48 #s-bpList .s-Image_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e39b167a-6827-498b-8062-bf89d74c1e48 #s-bpList .s-Image_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e39b167a-6827-498b-8062-bf89d74c1e48 #s-bpList .s-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e39b167a-6827-498b-8062-bf89d74c1e48 #s-bpList .s-Bin {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e39b167a-6827-498b-8062-bf89d74c1e48 #s-bpList .s-Rectangle_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-ead4920d-bc72-485d-9d8a-d7fd3fe9c9d6 #m-ead4920d-Bg_shadow {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-ead4920d-bc72-485d-9d8a-d7fd3fe9c9d6 #m-ead4920d-More_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-ead4920d-bc72-485d-9d8a-d7fd3fe9c9d6 #m-ead4920d-Fill_151 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-ead4920d-bc72-485d-9d8a-d7fd3fe9c9d6 #m-ead4920d-Fill_152 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-ead4920d-bc72-485d-9d8a-d7fd3fe9c9d6 #m-ead4920d-Fill_153 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-ead4920d-bc72-485d-9d8a-d7fd3fe9c9d6 #m-ead4920d-Checkin_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-ead4920d-bc72-485d-9d8a-d7fd3fe9c9d6 #m-ead4920d-Clip_13 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-ead4920d-bc72-485d-9d8a-d7fd3fe9c9d6 #m-ead4920d-Fill_154 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-ead4920d-bc72-485d-9d8a-d7fd3fe9c9d6 #m-ead4920d-Fill_155 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-ead4920d-bc72-485d-9d8a-d7fd3fe9c9d6 #m-ead4920d-Boardingpass_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-ead4920d-bc72-485d-9d8a-d7fd3fe9c9d6 #m-ead4920d-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-ead4920d-bc72-485d-9d8a-d7fd3fe9c9d6 #m-ead4920d-Search_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-ead4920d-bc72-485d-9d8a-d7fd3fe9c9d6 #m-ead4920d-planeicon_15 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e39b167a-6827-498b-8062-bf89d74c1e48 #s-Shadow {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80) ;
  filter: alpha(opacity=80) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e39b167a-6827-498b-8062-bf89d74c1e48 #s-Rectangle_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e39b167a-6827-498b-8062-bf89d74c1e48 #s-Rectangle_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e39b167a-6827-498b-8062-bf89d74c1e48 #s-Rectangle_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e39b167a-6827-498b-8062-bf89d74c1e48 #s-Rectangle_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e39b167a-6827-498b-8062-bf89d74c1e48 #s-Rectangle_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e39b167a-6827-498b-8062-bf89d74c1e48 #s-MobileSignal_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e39b167a-6827-498b-8062-bf89d74c1e48 #s-Carrier_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e39b167a-6827-498b-8062-bf89d74c1e48 #s-WiFi_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e39b167a-6827-498b-8062-bf89d74c1e48 #s-AM_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e39b167a-6827-498b-8062-bf89d74c1e48 #s-Paragraph_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e39b167a-6827-498b-8062-bf89d74c1e48 #s-Battery_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-e39b167a-6827-498b-8062-bf89d74c1e48 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}