#s-e39b167a-6827-498b-8062-bf89d74c1e48 #s-BgDegradePurple {
  -pie-background: linear-gradient(to bottom,#2F2F55,#5461B8);
  -pie-poll: false;
  -ms-transform: rotate(0.0deg);
}
#s-e39b167a-6827-498b-8062-bf89d74c1e48 #s-America_3 {
  -ms-transform: rotate(0.0deg);
}
#s-e39b167a-6827-498b-8062-bf89d74c1e48 #s-Europe_3 {
  -ms-transform: rotate(0.0deg);
}
#s-e39b167a-6827-498b-8062-bf89d74c1e48 #s-BOARDINGPASSES_LIST {
  -ms-transform: rotate(0.0deg);
}
#s-e39b167a-6827-498b-8062-bf89d74c1e48 #s-bpList .s-Text_1 {
  -ms-transform: rotate(0.0deg);
}
#s-e39b167a-6827-498b-8062-bf89d74c1e48 #s-bpList .s-Line_2 {
  stroke-width: 1px;
  stroke: #808080;
  -ms-transform: rotate(0.0deg);
}
#s-e39b167a-6827-498b-8062-bf89d74c1e48 #s-bpList .s-Line_2 {
  stroke-width: 1px;
  stroke: #808080;
  -ms-transform: rotate(0.0deg);
}
#s-e39b167a-6827-498b-8062-bf89d74c1e48 #s-bpList .s-Image_1 {
  -ms-transform: rotate(0.0deg);
}
#s-e39b167a-6827-498b-8062-bf89d74c1e48 #s-bpList .s-Image_6 {
  -ms-transform: rotate(0.0deg);
}
#s-e39b167a-6827-498b-8062-bf89d74c1e48 #s-bpList .s-Image_7 {
  -ms-transform: rotate(0.0deg);
}
#s-e39b167a-6827-498b-8062-bf89d74c1e48 #s-bpList .s-Image_8 {
  -ms-transform: rotate(0.0deg);
}
#s-e39b167a-6827-498b-8062-bf89d74c1e48 #s-bpList .s-Rectangle_1 {
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #D9D9D9;
  -ms-transform: rotate(0.0deg);
}
#s-e39b167a-6827-498b-8062-bf89d74c1e48 #s-bpList .s-Bin {
  -ms-transform: rotate(0.0deg);
}
#s-e39b167a-6827-498b-8062-bf89d74c1e48 #s-bpList .s-Rectangle_2 {
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #D9D9D9;
  -ms-transform: rotate(0.0deg);
}
#s-e39b167a-6827-498b-8062-bf89d74c1e48 #s-Shadow {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
  filter: alpha(opacity=80);
  -ms-transform: rotate(0.0deg);
}
#s-e39b167a-6827-498b-8062-bf89d74c1e48 #s-Rectangle_3 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #D9D9D9;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #D9D9D9;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #D9D9D9;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #D9D9D9;
  border-radius: 8px 8px 8px 8px;
  -ms-transform: rotate(0.0deg);
}
#s-e39b167a-6827-498b-8062-bf89d74c1e48 #s-Rectangle_7 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #D9D9D9;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #D9D9D9;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #D9D9D9;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #D9D9D9;
  border-radius: 7px 7px 7px 7px;
  -ms-transform: rotate(0.0deg);
}
#s-e39b167a-6827-498b-8062-bf89d74c1e48 #s-Rectangle_8 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #D9D9D9;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #D9D9D9;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #D9D9D9;
  border-radius: 8px 8px 0px 0px;
  -ms-transform: rotate(0.0deg);
}
#s-e39b167a-6827-498b-8062-bf89d74c1e48 #s-Rectangle_9 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #D9D9D9;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #D9D9D9;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #D9D9D9;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #D9D9D9;
  -ms-transform: rotate(0.0deg);
}
#s-e39b167a-6827-498b-8062-bf89d74c1e48 #s-Rectangle_10 {
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #D9D9D9;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #D9D9D9;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #D9D9D9;
  border-radius: 0px 0px 8px 8px;
  -ms-transform: rotate(0.0deg);
}
#s-e39b167a-6827-498b-8062-bf89d74c1e48 #s-MobileSignal_7 {
  -ms-transform: rotate(0.0deg);
}
#s-e39b167a-6827-498b-8062-bf89d74c1e48 #s-Carrier_7 {
  -ms-transform: rotate(0.0deg);
}
#s-e39b167a-6827-498b-8062-bf89d74c1e48 #s-WiFi_7 {
  -ms-transform: rotate(0.0deg);
}
#s-e39b167a-6827-498b-8062-bf89d74c1e48 #s-AM_7 {
  -ms-transform: rotate(0.0deg);
}
#s-e39b167a-6827-498b-8062-bf89d74c1e48 #s-Paragraph_10 {
  -ms-transform: rotate(0.0deg);
}
#s-e39b167a-6827-498b-8062-bf89d74c1e48 #s-Battery_7 {
  -ms-transform: rotate(0.0deg);
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-e39b167a-6827-498b-8062-bf89d74c1e48 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}