#s-ee997a37-ddcb-4f00-a52b-f77ee3e36569 #s-BgDegradePurple {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ee997a37-ddcb-4f00-a52b-f77ee3e36569 #s-BgDegradePurple_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ee997a37-ddcb-4f00-a52b-f77ee3e36569 #s-America_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ee997a37-ddcb-4f00-a52b-f77ee3e36569 #s-Europe_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ee997a37-ddcb-4f00-a52b-f77ee3e36569 #s-DEPARTUREFLIGHT_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ee997a37-ddcb-4f00-a52b-f77ee3e36569 #s-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ee997a37-ddcb-4f00-a52b-f77ee3e36569 #s-previousicon_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ee997a37-ddcb-4f00-a52b-f77ee3e36569 #s-planeicon_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ee997a37-ddcb-4f00-a52b-f77ee3e36569 #s-Barcelona_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ee997a37-ddcb-4f00-a52b-f77ee3e36569 #s-SanFrancisco_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ee997a37-ddcb-4f00-a52b-f77ee3e36569 #s-Rectangle_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ee997a37-ddcb-4f00-a52b-f77ee3e36569 #s-MobileSignal_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ee997a37-ddcb-4f00-a52b-f77ee3e36569 #s-Carrier_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ee997a37-ddcb-4f00-a52b-f77ee3e36569 #s-WiFi_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ee997a37-ddcb-4f00-a52b-f77ee3e36569 #s-AM_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ee997a37-ddcb-4f00-a52b-f77ee3e36569 #s-Paragraph_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ee997a37-ddcb-4f00-a52b-f77ee3e36569 #s-Battery_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ee997a37-ddcb-4f00-a52b-f77ee3e36569 #s-Button-black_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ee997a37-ddcb-4f00-a52b-f77ee3e36569 #s-Button-black_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ee997a37-ddcb-4f00-a52b-f77ee3e36569 #s-opacity_3 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=20) ;
  filter: alpha(opacity=20) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ee997a37-ddcb-4f00-a52b-f77ee3e36569 #s-Rectangle_4 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=91) ;
  filter: alpha(opacity=91) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ee997a37-ddcb-4f00-a52b-f77ee3e36569 #s-Text_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ee997a37-ddcb-4f00-a52b-f77ee3e36569 #s-Text_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ee997a37-ddcb-4f00-a52b-f77ee3e36569 #s-Line_34 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ee997a37-ddcb-4f00-a52b-f77ee3e36569 #s-Button-OK_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ee997a37-ddcb-4f00-a52b-f77ee3e36569 #s-opacity_2 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=20) ;
  filter: alpha(opacity=20) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ee997a37-ddcb-4f00-a52b-f77ee3e36569 #s-Rectangle_3 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=91) ;
  filter: alpha(opacity=91) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ee997a37-ddcb-4f00-a52b-f77ee3e36569 #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ee997a37-ddcb-4f00-a52b-f77ee3e36569 #s-Text_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ee997a37-ddcb-4f00-a52b-f77ee3e36569 #s-Line_33 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ee997a37-ddcb-4f00-a52b-f77ee3e36569 #s-Button-OK_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ee997a37-ddcb-4f00-a52b-f77ee3e36569 #s-opacity_1 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=20) ;
  filter: alpha(opacity=20) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ee997a37-ddcb-4f00-a52b-f77ee3e36569 #s-Rectangle_2 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=91) ;
  filter: alpha(opacity=91) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ee997a37-ddcb-4f00-a52b-f77ee3e36569 #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ee997a37-ddcb-4f00-a52b-f77ee3e36569 #s-Line_32 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ee997a37-ddcb-4f00-a52b-f77ee3e36569 #s-Button-OK {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ee997a37-ddcb-4f00-a52b-f77ee3e36569 #s-opacity_4 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=20) ;
  filter: alpha(opacity=20) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ee997a37-ddcb-4f00-a52b-f77ee3e36569 #s-Rectangle_6 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=91) ;
  filter: alpha(opacity=91) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ee997a37-ddcb-4f00-a52b-f77ee3e36569 #s-Text_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ee997a37-ddcb-4f00-a52b-f77ee3e36569 #s-Text_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ee997a37-ddcb-4f00-a52b-f77ee3e36569 #s-Line_35 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ee997a37-ddcb-4f00-a52b-f77ee3e36569 #s-Button-OK_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ee997a37-ddcb-4f00-a52b-f77ee3e36569 #s-Image_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ee997a37-ddcb-4f00-a52b-f77ee3e36569 #s-Image_23 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-ee997a37-ddcb-4f00-a52b-f77ee3e36569 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}